h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  padding: 0 0 20px;
  color: #434352;
}

h2 {
  color: #434352;
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  padding: 0 0 20px;
  margin: 0 0 20px;
}

.header {
  width: 100%;
  height: 4.75rem;
  background: linear-gradient(-45deg, #2a1fad 0%, #a91b78 100%);
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.header img {
  height: 30px;
}

.page {
  display: flex;
  justify-content: center;
  padding: 0 60px;
}

.container {
  display: flex;
  width: 960px;
  margin: 70px 0 0 0;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box img {
  width: 80%;
}
.box h2 {
  max-width: 550px;
}

@media (max-width: 980px) {
  .container {
    width: 800px;
  }

  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    font-size: 18px;
  }
}

@media (max-width: 740px) {
  h1 {
    font-size: 34px;
    padding: 0 0 10px;
  }
  .page {
    padding: 0 30px;
  }
  .header {
    padding: 0 30px;
  }
  .container {
    flex-direction: column;
  }
  .box img {
    width: 80%;
  }
  ul {
    margin: 0 0 70px;
  }
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
