html {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: white;
  font-family: Poppins, sans-serif;
}

p {
  line-height: 1.7;
}

body {
  font-size: 16px;
  font-family: Muli, sans-serif;
  background-image: url(asset-path("landing-bgd.png")), -webkit-linear-gradient(-72deg, #f7383a, #e72d5d, #cc0099);
  margin: 0;
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  padding: 180px 0 0 0;
  @media screen and (max-width: 760px) {
    padding: 0;
  }
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  & .center-things {
    align-items: center;
    @media screen and (max-width: 760px) {
      & {
        flex-direction: column;
        padding: 48px;
      }
    }
  }
  & .logo {
    display: block;
    margin: 0 0 24px;
  }
  & .section-header {
    font-size: 25px;
    color: white;
  }
  & .divider {
    margin: 20px 0;
    border: 1px solid rgba(255, 255, 255, .2);
  }
  & .link-separator {
    color: rgba(255, 255, 255, .7);
  }
  & .main-heading {
    h1 {
      margin-bottom: 18px;
      font-weight: 600;
      font-size: 52px;
    }
    h2 {
      font-size: 32px;
      font-weight: 200;
    }
  }
  & .signup-panel {
    margin-top: 25px;
    background: rgba(#222326, 0.2);
    border-radius: 8px;
    padding: 60px 40px 35px 40px;
    @include media-breakpoint-down(xs) {
      padding: 40px 30px 35px 30px;
    }
    .form-group {
      margin-top: 40px;
      @include media-breakpoint-down(xs) {
        margin-top: 20px;
      }
    }
  }
  & .tos-faq {
    a {
      color: rgba(#fff, 0.85);
      font-size: 14px;
    }
  }
  & .btn {
    margin: 18px 0;
    border-radius: 48px;
    color: white;
    padding: 12px;
    font-size: 16px;
    &.btn-primary {
      background: #72008b;
      border: none;
      &:hover {
        background: #fc624e;
      }
    }
    &.btn-secondary {
      background: transparent;
      border: 1px solid rgba(white, .8);
      &:hover {
        background: rgba(white, 0.3);
      }
    }
  }
}