body {
  padding-top: 0;
  min-height: 100vh;
  background-color: #f33a46;
  background-image: url(asset-path("landing-bgd.png"));
  background-image: url(asset-path("landing-bgd.png")), -webkit-linear-gradient(-72deg, #f7383a, #e72d5d, #cc0099 85%);
  background-repeat: no-repeat;
  background-position: top right;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.02em;
}

p {
  padding-bottom: 15px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.013em;
  line-height: 28px;
  margin-bottom: 21px;
  &.leadin {
    font-size: 22px;
    font-weight: 100;
    line-height: 32px;
    letter-spacing: -0.02em;
    strong {
      font-weight: 600;
    }
  }
}

.logo {
  margin-top: 75px;
  margin-bottom: 75px;
}

@include media-breakpoint-down(md) {
  p.leadin {
    font-size: 20px;
  }
  .logo {
    margin-top: 55px;
    margin-bottom: 20px;
  }
}

.main-heading {
  h2 {
    font-weight: 100;
    font-size: 32px;
    margin-bottom: 0px;
  }
  @include media-breakpoint-down(md) {
    h1 {
      font-weight: 600;
      font-size: 36px;
      margin-top: 5px;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 24px;
    }
  }
  @include media-breakpoint-up(md) {
    h1 {
      font-weight: 600;
      font-size: 48px;
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }
}

.section-header {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 400;
  color: white;
}

.alt-path-copy {
  color: rgba(white, 0.5);
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0.02em;
  padding-bottom: 0;
  margin-bottom: 0;
  @include media-breakpoint-down(xs) {
    padding-bottom: 15px;
  }

  strong {
    color: white;
    font-weight: 500;
  }
}

.divider {
  border-color: rgba(#222326, 0.25);
  margin-top: 40px;
  height: 1px;
  width: 100%;
  margin-left: 0px;
}

.welcome {
  margin-top: 25px;
}

.signup-panel {
  margin-top: 25px;
  background: rgba(#222326, 0.2);
  border-radius: 8px;
  padding: 60px 40px 35px 40px;
  @include media-breakpoint-down(xs) {
    padding: 40px 30px 35px 30px;
  }
  .form-group {
    margin-top: 40px;
    @include media-breakpoint-down(xs) {
      margin-top: 20px;
    }
  }
  hr {
    margin-top: 70px;
    margin-bottom: 30px;
    @include media-breakpoint-down(xs) {
      margin-top: 35px;
    }
  }
  hr.tos-faq--divider {
    margin-top: 0;
  }
}

.tos-faq {
  a {
    color: rgba(#ededee, 0.65);
    font-size: 14px;
    font-weight: 300;
  }
  .link-separator {
    color: $white30;
  }
}

@include media-breakpoint-down(sm) {
  .col-centered {
    float: none;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .dashboard {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: $screen-xxs-max) {
  .logo {
    margin-top: 35px;
    margin-bottom: 0px;
  }
  .col-centered {
    float: none;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include media-breakpoint-up(md) {
  .col-left {
    padding-left: 60px;
    padding-right: 20px;
  }
  .col-right {
    padding-left: 20px;
    padding-right: 60px;
  }
  .dashboard {
    margin-top: 10px;
    margin-bottom: 35px;
  }
}


@include media-breakpoint-up(lg) {
  .col-left {
    padding-left: 80px;
    padding-right: 20px;
  }
  .col-right {
    padding-left: 20px;
    padding-right: 80px;
  }
}


.form-control {
  background-color: rgba(#ff5874, 0.3);
  color: rgba(white, 0.7);
  height: 47px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  opacity: 0.88;
  letter-spacing: 0.02em;
  box-shadow: none;
}

input[type="email"]:focus {
  border: 1px solid #ff5396;
}

input[type="email"]:hover {
  border: 1px solid #81063a;
}

.form-control::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  color: #f196b3;
}

.control-label {
  display: inline;
  color: white;
}

.button-column {
  padding-left: 0px;
  @include media-breakpoint-down(xs) {
    &.col-xs-12 {
      padding-left: 15px;
    }
  }
}

.btn {
  &.btn-primary {
    background: #72008b;
    height: 48px;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.08em;
    box-shadow: none;
    padding-top: 16px;
    padding-bottom: 16px;
    text-transform: uppercase;
    &:hover {
      background: #fc624e;
    }
    &:active {
      background: #e22a1f;
    }
  }
  &.btn-secondary {
    background: transparent;
    height: 40px;
    border: 1px solid rgba(white, 0.3);
    border-radius: 20px;
    color: white;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.08em;
    box-shadow: none;
    margin-top: 4px;
    padding-top: 11px;
    padding-bottom: 7px;
    text-transform: uppercase;
    &:hover {
      border-color: transparent;
      background: rgba(white, 0.3);
    }
    &:active {
      border: none;
      background: rgba(white, 0.15);
    }
  }
}