---
http_interactions:
- request:
    method: get
    uri: https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/f92dffc7b8a4ba76f262ec659381c366
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us12.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"71b980ff-64a2-437f-beb6-ffd9f1a0f940"}'
  recorded_at: Mon, 02 Apr 2018 14:14:36 GMT
- request:
    method: get
    uri: https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us12.api.mailchimp.com/schema/3.0/Lists/Interests/Collection.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"interests":[{"category_id":"e3302586ea","list_id":"b83e0cae3d","id":"d20f89f89a","name":"Monthly
        Recurring Notice","subscriber_count":"1","display_order":2,"_links":[{"rel":"self","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests/d20f89f89a","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Response.json"},{"rel":"parent","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/CollectionResponse.json","schema":"https://us12.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Interests.json"},{"rel":"update","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests/d20f89f89a","method":"PATCH","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Response.json","schema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/PATCH.json"},{"rel":"delete","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/in[...]
[...]
- request:
    method: get
    uri: https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/a0d4b24018216108cb0c94f1b9974a67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us12.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us12.admin.mailchimp.com/lists/members/view?id=219236513>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"a0d4b24018216108cb0c94f1b9974a67","email_address":"alice@verified.org","unique_email_id":"ec4f3cdd92","email_type":"html","status":"subscribed","merge_fields":{"ADDRESS":"","PHONE":"+14159001421","BIRTHDAY":"","NAME":"Alice
        the Verified"},"interests":{"d20f89f89a":true,"0e482e836d":false,"477ca79775":true,"1d6c7e03b8":false,"42728538c3":true,"843e4b354b":false},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"73.60.209.229","timestamp_opt":"2018-04-02T13:23:11+00:00","member_rating":2,"last_changed":"2018-04-02T14:14:06+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"b83e0cae3d","_links":[{"rel":"self","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/a0d4b24018216108cb0c94f1b9974a67","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us12.[...]
- request:
    method: put
    uri: https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/f92dffc7b8a4ba76f262ec659381c366
    body:
      encoding: UTF-8
      string: '{"email_address":"alice.changed@verified.org","status_if_new":"subscribed","merge_fields":{"NAME":"Alice
        the Verified","PHONE":"+14159001421"},"interests":{"d20f89f89a":true,"0e482e836d":false,"477ca79775":true,"1d6c7e03b8":false}}'
    headers:
      Authorization:
      - Basic <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us12.api.mailchimp.com/schema/3.0/Lists/Members/In[...]
[...]
