---
http_interactions:
- request:
    method: get
    uri: https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/d628dbabcb265bddf82441e0ee6b001d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us12.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"49af90d2-e301-4913-87e3-1f0e5b5489af"}'
  recorded_at: Fri, 30 Mar 2018 20:30:34 GMT
- request:
    method: get
    uri: https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us12.api.mailchimp.com/schema/3.0/Lists/Interests/Collection.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"interests":[{"category_id":"e3302586ea","list_id":"b83e0cae3d","id":"d20f89f89a","name":"Monthly
        Recurring Notice","subscriber_count":"0","display_order":2,"_links":[{"rel":"self","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests/d20f89f89a","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Response.json"},{"rel":"parent","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/CollectionResponse.json","schema":"https://us12.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Interests.json"},{"rel":"update","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests/d20f89f89a","method":"PATCH","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Response.json","schema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/PATCH.json"},{"rel":"delete","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/in[...]
[...]
- request:
    method: put
    uri: https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/d628dbabcb265bddf82441e0ee6b001d
    body:
      encoding: UTF-8
      string: '{"email_address":"alice@completed.org","status_if_new":"subscribed","merge_fields":{"NAME":"Alice
        the Completed","PHONE":"+14159001421"},"interests":{"d20f89f89a":true,"0e482e836d":true,"477ca79775":true,"1d6c7e03b8":true}}'
    headers:
      Authorization:
      - Basic <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us12.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us12.admin.mailchimp.com/lists/members/view?id=218012493>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"d628dbabcb265bddf82441e0ee6b001d","email_address":"alice@completed.org","unique_email_id":"d0645b11c2","email_type":"html","status":"subscribed","merge_fields":{"ADDRESS":"","PHONE":"+14159001421","BIRTHDAY":"","NAME":"Alice
        the Completed"},"interests":{"d20f89f89a":true,"0e482e836d":true,"477ca79775":true,"1d6c7e03b8":true,"42728538c3":false,"843e4b354b":false},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"73.60.209.229","timestamp_opt":"2018-03-30T20:30:44+00:00","member_rating":2,"last_changed":"2018-03-30T20:30:45+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"b83e0cae3d","_links":[{"rel":"self","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/d628dbabcb265bddf82441e0ee6b001d","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us12.[...]
