---
http_interactions:
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"alice2@spud.com","name":"Alice the Youtuber"},{"email":"alice2@verified.org","name":"Alice
        the Verified"},{"email":"alice@completed.org","name":"Alice the Completed"},{"email":"alice@default.org","name":"Alice
        the Pyramid"},{"email":"alice@fake.org","name":"Fake Alice"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1562191320'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"new_count":0,"updated_count":0,"error_count":0,"error_indices":[],"unmodified_indices":[0,1,2,3,4],"persisted_recipients":["YWxpY2UyQHNwdWQuY29t","YWxpY2UyQHZlcmlmaWVkLm9yZw==","YWxpY2VAY29tcGxldGVkLm9yZw==","YWxpY2VAZGVmYXVsdC5vcmc=","YWxpY2VAZmFrZS5vcmc="],"errors":[]}

        '
  recorded_at: Wed, 03 Jul 2019 22:01:58 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/3986776/recipients
    body:
      encoding: UTF-8
      string: '["YWxpY2UyQHNwdWQuY29t","YWxpY2UyQHZlcmlmaWVkLm9yZw==","YWxpY2VAY29tcGxldGVkLm9yZw==","YWxpY2VAZGVmYXVsdC5vcmc=","YWxpY2VAZmFrZS5vcmc="]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1562191319'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jul 2019 22:01:59 GMT
[...]
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/3986776/recipients
    body:
      encoding: UTF-8
      string: '["bG9ja2VkX291dEB2ZXJpZmljYXRpb25zLm9yZw==","cGFydGlhbGx5X2NvbXBsZXRlZEBleGFtcGxlLmNvbQ==","cHJpc2NpbGxhQHBvdGVudGlhbGx5cGFpZC5vcmc=","c3VzYW50aGVzdXNwZW5kZWRAZXhhbXBsZS5jb20=","dGVzdEBzdGF0cy5vcmc="]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1562191326'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 03 Jul 2019 22:02:05 GMT
recorded_with: VCR 5.0.0
