---
http_interactions:
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"alice@completed.org","name":"Alice the Completed"}]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1525116056'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"new_count":0,"updated_count":0,"error_count":1,"error_indices":[0],"unmodified_indices":[],"persisted_recipients":[],"errors":[{"message":"The
        following parameters are not custom fields or reserved fields: [address]","error_indices":[0]}]}

'
  recorded_at: Mon, 30 Apr 2018 19:20:55 GMT
recorded_with: VCR 4.0.0
