---
http_interactions:
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/YWxpY2VAY29tcGxldGVkLm9yZw==
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1525266886'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"id":"YWxpY2VAY29tcGxldGVkLm9yZw==","email":"alice@completed.org","created_at":1525207625,"updated_at":1525207625,"last_emailed":null,"last_clicked":null,"last_opened":null,"first_name":null,"last_name":null,"custom_fields":[{"id":2337510,"name":"phone","type":"text","value":"+14159001421"},{"id":2337512,"name":"name","type":"text","value":"Alice
        the Completed"}]}

'
  recorded_at: Wed, 02 May 2018 13:14:45 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/1234/recipients/YWxpY2VAY29tcGxldGVkLm9yZw==
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - ''
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1525266886'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"List ID does not exist"}]}

'
  recorded_at: Wed, 02 May 2018 13:14:45 GMT
recorded_with: VCR 4.0.0
