---
http_interactions:
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"alice2@spud.com","name":"Alice the Youtuber"},{"email":"alice2@verified.org","name":"Alice
        the Verified"},{"email":"alice@completed.org","name":"Alice the Completed"},{"email":"alice@default.org","name":"Alice
        the Pyramid"},{"email":"alice@fake.org","name":"Fake Alice"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: INTERNAL SERVER ERROR
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors": [{"field": null, "message": "internal server exception"}]}'
  recorded_at: Wed, 03 Jul 2019 21:47:45 GMT
recorded_with: VCR 5.0.0
