---
http_interactions:
- request:
    method: get
    uri: https://ratios.rewards.bravesoftware.com/v2/relative/provider/coingecko/bat/usd,eur,btc,eth,gbp/live
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"payload":{"bat":{"btc":0.0000083,"btc_timeframe_change":0,"eth":0.00012701,"eth_timeframe_change":0,"eur":0.214636,"eur_timeframe_change":0,"gbp":0.1895,"gbp_timeframe_change":0,"usd":0.236713,"usd_timeframe_change":-0.16646035162139}},"lastUpdated":"2023-05-03T04:00:01.515423903Z"}

        '
  recorded_at: Wed, 03 May 2023 04:01:10 GMT
recorded_with: VCR 6.1.0
