---
http_interactions:
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/lists/3986776/recipients/YWxpY2VAY29tcGxldGVkLm9yZw==?list_id=3986776&recipient_id=YWxpY2VAY29tcGxldGVkLm9yZw==
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1586303180'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Apr 2020 23:46:19 GMT
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"test@test.com","name":"Alice the Completed"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1586303182'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"new_count":0,"updated_count":0,"error_count":0,"error_indices":[],"unmodified_indices":[0],"persisted_recipients":["dGVzdEB0ZXN0LmNvbQ=="],"errors":[]}

'
  recorded_at: Tue, 07 Apr 2020 23:46:20 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/3986776/recipients/dGVzdEB0ZXN0LmNvbQ==
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1586303193'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Apr 2020 23:46:32 GMT
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/lists/10300648/recipients/dGVzdEB0ZXN0LmNvbQ==?list_id=10300648&recipient_id=dGVzdEB0ZXN0LmNvbQ==
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1586303193'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Apr 2020 23:46:32 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/10300648/recipients/dGVzdEB0ZXN0LmNvbQ==
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"authorization required"}]}'
  recorded_at: Mon, 29 Jun 2020 21:06:40 GMT
recorded_with: VCR 6.0.0
