---
http_interactions:
- request:
    method: get
    uri: https://ratios.rewards.bravesoftware.com/v2/relative/provider/coingecko/bat/usd,eur,btc,eth,gbp/live
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"payload":{"bat":{"btc":0.00000289,"btc_timeframe_change":-5.743646214651153,"eth":0.00008934,"eth_timeframe_change":-3.4397283336042244,"eur":0.215214,"eur_timeframe_change":-10.68612760807369,"gbp":0.189076,"gbp_timeframe_change":-10.494037475790295,"usd":0.24983,"usd_timeframe_change":-10.571146913536664}},"lastUpdated":"2025-12-01T21:42:50.830014981Z"}

        '
  recorded_at: Mon, 01 Dec 2025 21:42:50 GMT
recorded_with: VCR 6.3.1
