---
http_interactions:
- request:
    method: get
    uri: https://ratios.rewards.bravesoftware.com/v2/relative/provider/coingecko/eth,sol,bat/usd/live
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"payload":{"bat":{"usd":0.2395,"usd_timeframe_change":0},"eth":{"usd":3110.28,"usd_timeframe_change":0},"sol":{"usd":177.31,"usd_timeframe_change":0}},"lastUpdated":"2024-05-20T06:13:29.552704258Z"}

        '
  recorded_at: Mon, 20 May 2024 06:15:29 GMT
recorded_with: VCR 6.2.0
