---
http_interactions:
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/lists/3986776/recipients/YWxpY2VAY29tcGxldGVkLm9yZw==?list_id=3986776&recipient_id=YWxpY2VAY29tcGxldGVkLm9yZw==
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1528228777'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 19:59:36 GMT
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"test@test.com","name":"Alice the Completed","phone":"+14159001421"}]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1528228778'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"new_count":0,"updated_count":0,"error_count":0,"error_indices":[],"unmodified_indices":[0],"persisted_recipients":["dGVzdEB0ZXN0LmNvbQ=="],"errors":[]}

'
  recorded_at: Tue, 05 Jun 2018 19:59:37 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/3986776/recipients/dGVzdEB0ZXN0LmNvbQ==
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - ''
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1528228778'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 19:59:37 GMT
recorded_with: VCR 4.0.0
