---
http_interactions:
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"alice2@verified.org","name":"Alice the Verified","phone":"+14159001421"},{"email":"alice@completed.org","name":"Alice
        the Completed","phone":"+14159001421"},{"email":"alice@default.org","name":"Alice
        the Pyramid","phone":"+14159001420"},{"email":"alice@spud.com","name":"Alice
        the Youtuber","phone":"+14159001420"},{"email":"alice_totp@verified.org","name":"Alice
        the Verified TOTP User","phone":"+14159001421"}]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1528402026'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"new_count":0,"updated_count":0,"error_count":0,"error_indices":[],"unmodified_indices":[0,1,2,3,4],"persisted_recipients":["YWxpY2UyQHZlcmlmaWVkLm9yZw==","YWxpY2VAY29tcGxldGVkLm9yZw==","YWxpY2VAZGVmYXVsdC5vcmc=","YWxpY2VAc3B1ZC5jb20=","YWxpY2VfdG90cEB2ZXJpZmllZC5vcmc="],"errors":[]}

'
  recorded_at: Thu, 07 Jun 2018 20:07:04 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/3648346/recipients
    body:
      encoding: UTF-8
      string: '["YWxpY2UyQHZlcmlmaWVkLm9yZw==","YWxpY2VAY29tcGxldGVkLm9yZw==","YWxpY2VAZGVmYXVsdC5vcmc=","YWxpY2VAc3B1ZC5jb20=","YWxpY2VfdG90cEB2ZXJpZmllZC5vcmc="]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1528402026'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 Jun 2018 20:07:05 GMT
[...]
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/3648346/recipients
    body:
      encoding: UTF-8
      string: '["YWxpY2VAdmVyaWZpZWQub3Jn","ZnJlZEBzbWFsbC5vcmc=","ZnJlZEB2Z2xvYmFsLm9yZw=="]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1528402032'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 Jun 2018 20:07:11 GMT
recorded_with: VCR 4.0.0
