---
http_interactions:
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"alice@default.org","name":"Alice the Pyramid","phone":"+14159001420"},{"email":"alice@verified.org","name":"Alice
        the Verified","phone":"+14159001421"},{"email":"alice_totp@verified.org","name":"Alice
        the Verified TOTP User","phone":"+14159001421"},{"email":"alice@completed.org","name":"Alice
        the Completed","phone":"+14159001421"},{"email":"alice@unprompted.org","name":"Alice
        the Unprompted","phone":"+14159001421"}]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1528225168'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"new_count":0,"updated_count":0,"error_count":0,"error_indices":[],"unmodified_indices":[0,1,2,3,4],"persisted_recipients":["YWxpY2VAZGVmYXVsdC5vcmc=","YWxpY2VAdmVyaWZpZWQub3Jn","YWxpY2VfdG90cEB2ZXJpZmllZC5vcmc=","YWxpY2VAY29tcGxldGVkLm9yZw==","YWxpY2VAdW5wcm9tcHRlZC5vcmc="],"errors":[]}

'
  recorded_at: Tue, 05 Jun 2018 18:59:26 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/3648346/recipients
    body:
      encoding: UTF-8
      string: '["YWxpY2VAZGVmYXVsdC5vcmc=","YWxpY2VAdmVyaWZpZWQub3Jn","YWxpY2VfdG90cEB2ZXJpZmllZC5vcmc=","YWxpY2VAY29tcGxldGVkLm9yZw==","YWxpY2VAdW5wcm9tcHRlZC5vcmc="]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1528225168'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 18:59:27 GMT
[...]
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/3648346/recipients
    body:
      encoding: UTF-8
      string: '["ZnJlZEBzbWFsbC5vcmc=","YmFybmV5QG1lZGl1bS5vcmc=","am9lcy1ncmVhdC1jaGFubmVsQHBhZ2VzLnBsdXNnb29nbGUuY29t"]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1528225173'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 05 Jun 2018 18:59:32 GMT
recorded_with: VCR 4.0.0
