---
http_interactions:
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"alice@default.org","name":"Alice the Pyramid","phone":"+14159001420"},{"email":"alice@verified.org","name":"Alice
        the Verified","phone":"+14159001421"},{"email":"alice_totp@verified.org","name":"Alice
        the Verified TOTP User","phone":"+14159001421"},{"email":"alice@completed.org","name":"Alice
        the Completed","phone":"+14159001421"},{"email":"alice@unprompted.org","name":"Alice
        the Unprompted","phone":"+14159001421"}]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
<<<<<<< HEAD
      - Tue, 05 Jun 2018 18:59:26 GMT
=======
      - Tue, 05 Jun 2018 20:00:00 GMT
>>>>>>> Add default_currency_confirmed_at to Publishers table
      Content-Type:
      - application/json
      Content-Length:
      - '290'
      Connection:
      - keep-alive
      Access-Control-Allow-Methods:
      - HEAD, GET, PUT, POST, DELETE, OPTIONS, PATCH
      Access-Control-Max-Age:
      - '21600'
      Access-Control-Expose-Headers:
      - Link, Location
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Headers:
      - AUTHORIZATION, Content-Type, On-behalf-of, x-sg-elas-acl, X-Recaptcha
      Content-Security-Policy:
      - default-src https://api.sendgrid.com; frame-src 'none'; object-src 'none'
      X-Content-Type-Options:
      - nosniff
      Strict-Transport-Security:
      - max-age=31536000
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
<<<<<<< HEAD
      - '1528225168'
=======
      - '1528228802'
>>>>>>> Add default_currency_confirmed_at to Publishers table
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"new_count":0,"updated_count":0,"error_count":0,"error_indices":[],"unmodified_indices":[0,1,2,3,4],"persisted_recipients":["YWxpY2VAZGVmYXVsdC5vcmc=","YWxpY2VAdmVyaWZpZWQub3Jn","YWxpY2VfdG90cEB2ZXJpZmllZC5vcmc=","YWxpY2VAY29tcGxldGVkLm9yZw==","YWxpY2VAdW5wcm9tcHRlZC5vcmc="],"errors":[]}

'
<<<<<<< HEAD
  recorded_at: Tue, 05 Jun 2018 18:59:26 GMT
=======
  recorded_at: Tue, 05 Jun 2018 20:00:00 GMT
>>>>>>> Add default_currency_confirmed_at to Publishers table
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/3986776/recipients
    body:
      encoding: UTF-8
      string: '["YWxpY2VAZGVmYXVsdC5vcmc=","YWxpY2VAdmVyaWZpZWQub3Jn","YWxpY2VfdG90cEB2ZXJpZmllZC5vcmc=","YWxpY2VAY29tcGxldGVkLm9yZw==","YWxpY2VAdW5wcm9tcHRlZC5vcmc="]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
<<<<<<< HEA[...]
[...]
