---
http_interactions:
- request:
    method: get
    uri: https://bravesoftware1543857346.zendesk.com/api/v2/tickets/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v2304.12
      X-Rate-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '699'
      Etag:
      - W/"ab5b1d787870feb349c5b4509fa7af6a"
      X-Zendesk-Origin-Server:
      - app40.pod13.usw2.zdsys.com
      X-Zendesk-Request-Id:
      - 662410f23376d4ac99ed
    body:
      encoding: UTF-8
      string: '{"ticket":{"url":"https://bravesoftware1543857346.zendesk.com/api/v2/tickets/2.json","id":2,"external_id":null,"via":{"channel":"web","source":{"from":{},"to":{},"rel":null}},"created_at":"2019-04-06T04:59:37Z","updated_at":"2019-04-11T17:32:57Z","type":null,"subject":"Trouble
        logging in","raw_subject":"Trouble logging in","description":"Lorem Ipsum","priority":null,"status":"new","recipient":null,"requester_id":379569843751,"submitter_id":379518079912,"assignee_id":null,"organization_id":null,"group_id":360004379911,"collaborator_ids":[],"follower_ids":[],"email_cc_ids":[],"forum_topic_id":null,"problem_id":null,"has_incidents":false,"is_public":true,"due_at":null,"tags":[],"custom_fields":[],"satisfaction_rating":null,"sharing_agreement_ids":[],"fields":[],"followup_ids":[],"ticket_form_id":360000245511,"brand_id":360001861011,"satisfaction_probability":null,"allow_channelback":false,"allow_attachments":true}}'
  recorded_at: Sat, 13 Apr 2019 04:23:43 GMT
- request:
    method: get
    uri: https://bravesoftware1543857346.zendesk.com/api/v2/tickets/2/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v2304.12
      Etag:
      - W/"d1d0e6a0d4b08bd5744398dbd9ad0102"
      Last-Modified:
      - Thu, 11 Apr 2019 17:32:57 GMT
      X-Rate-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '698'
      X-Zendesk-Origin-Server:
      - app31.pod13.usw2.zdsys.com
      X-Zendesk-Request-Id:
      - aa520046b76e0b3aebe7
    body:
      encoding: UTF-8
      string: '{"comments":[{"id":593375872551,"type":"Comment","author_id":379518079912,"body":"Lorem
        Ipsum","html_body":"<div class=\"zd-comment\" dir=\"auto\">Lorem Ipsum<br>\n</div>","plain_body":"Lorem
        Ipsum","public":true,"attachments":[],"audit_id":593375872511,"via":{"channel":"web","source":{"from":{},"to":{},"rel":null}},"created_at":"2019-04-06T04:59:37Z","metadata":{"system":{},"custom":{}}},{"id":593834223792,"type":"Comment","author_id":379518079912,"body":"Comment
        Reply Here\n\nThis is rendered has a new line","html_body":"<div class=\"zd-comment\"
        dir=\"auto\">Comment Reply Here<br><br>This is rendered has a new line<br>\n</div>","plain_body":"Comment
        Reply Here\n\nThis is rendered has a new line","public":true,"attachments":[],"audit_id":593834223732,"via":{"channel":"web","source":{"from":{},"to":{},"rel":null}},"created_at":"2019-04-06T05:00:27Z","metadata":{"system":{},"custom":{}}},{"id":593688279551,"type":"Comment","author_id":379569843751,"body":"This
        response is sent via email","html_body":"<div class=\"zd-comment zd-comment-pre-styled\"
        dir=\"auto\">\n<div dir=\"ltr\">This response is sent via email</div>\n<br>\n</div>","plain_body":"This
        response is sent via email","public":true,"attachments":[],"audit_id":593688279511,"via":{"channel":"email","source":{"from":{"address":"alice@notes.org","name":"Test
        Publisher","original_recipients":["alice@notes.org","support+id2@bravesoftware1543857346.zendesk.com"]},"to":{"name":"Brave
        Software SANDBOX","address":null},"rel":null}},"created_at":"2019-04-06T17:02:44Z","metadata":{"system":{"message_id":"<CAGV6rryh5_dk3zZLn7Mm+54PMVHGhfFs_e3TYDBwwBNTZ3KZ1A@mail.gmail.com>","raw_email_identifier":"9056059/b8a8cb03-2e77-4f02-b33e-5d4c4f5a40e7.eml","json_email_identifier":"9056059/b8a8cb03-2e77-4f02-b33e-5d4c4f5a40e7.json"},"custom":{},"suspension_type_id":null}},{"id":598673813271,"type":"Comment","author_id":379569843751,"body":"This
        should update updated_at\n\n\nOn Sat, Apr 6, 2019 at 10:02 AM Al <alice@notes.org>
        wrote:\n\n> This response is sent via email","html_body":"<div class=\"zd-comment
        zd-comment-pre-styled\" dir=\"auto\">\n<div dir=\"ltr\">This should update
        updated_at</div>\n<br><div>\n<div dir=\"ltr\">On Sat, Apr 6, 2019 at 10:02
        AM Al &lt;<a href=\"mailto:alice@notes.org\" rel=\"noreferrer\">alice@notes.org</a>&gt;
        wrote:<br>\n</div>\n<blockquote style=\"border-left-color: rgb(204,204,204);
        border-left-style: solid; border-left-width: 1px; margin: 0px 0px 0px 0.8ex;
        padding-left: 1ex\">\n<div dir=\"ltr\">This response is sent via email</div>\n<br>\n</blockquote>\n</div>\n</div>","plain_body":"This
        should update updated_at \n\n \n On Sat, Apr 6, 2019 at 10:02 AM Al &lt;alice@notes.org&gt;
        wrote:\n\n \n \n This response is sent via email","public":true,"attachments":[],"audit_id":598673813211,"via":{"channel":"email","source":{"from":{"address":"alice@notes.org","name":"Test
        Publisher","original_recipients":["alice@notes.org","support+id2@bravesoftware1543857346.zendesk.com"]},"to":{"name":"Brave
        Software SANDBOX","address":null},"rel":null}},"created_at":"2019-04-11T17:32:57Z","metadata":{"system":{"message_id":"<CAGV6rrwh=WhmnrWFNuRY2DepJd3=pqcqp0GLctWtpWq9jcgTeg@mail.gmail.com>","raw_email_identifier":"9056059/0f992606-40a6-4d8d-9705-5a33cfa163a1.eml","json_email_identifier":"9056059/0f992606-40a6-4d8d-9705-5a33cfa163a1.json"},"custom":{},"suspension_type_id":null}}],"next_page":null,"previous_page":null,"count":4}'
  recorded_at: Sat, 13 Apr 2019 04:23:44 GMT
- request:
    method: get
    uri: https://bravesoftware1543857346.zendesk.com/api/v2/tickets/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      If-None-Match:
      - W/"ab5b1d787870feb349c5b4509fa7af6a"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v2304.12
      X-Rate-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '697'
      Etag:
      - W/"ab5b1d787870feb349c5b4509fa7af6a"
      X-Zendesk-Origin-Server:
      - app50.pod13.usw2.zdsys.com
      X-Zendesk-Request-Id:
      - 5892ec37afc9a95e1673
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 13 Apr 2019 04:23:44 GMT
[...]
- request:
    method: get
    uri: https://bravesoftware1543857346.zendesk.com/api/v2/tickets/2/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      If-None-Match:
      - W/"d1d0e6a0d4b08bd5744398dbd9ad0102"
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v2304.12
      Etag:
      - '"d1d0e6a0d4b08bd5744398dbd9ad0102"'
      Last-Modified:
      - Thu, 11 Apr 2019 17:32:57 GMT
      X-Rate-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '680'
      X-Zendesk-Origin-Server:
      - app27.pod13.usw2.zdsys.com
      X-Zendesk-Request-Id:
      - 3da531a291ecd9cb12a0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 13 Apr 2019 04:23:48 GMT
recorded_with: VCR 4.0.0
