---
http_interactions:
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"alice@completed.org","name":"Alice the Completed","phone":"+14159001421"},{"email":"aliceTwitch@spud.com","name":"Alice
        the Twitcher","phone":"+14159001420"}]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1528394948'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"new_count":0,"updated_count":0,"error_count":0,"error_indices":[],"unmodified_indices":[0,1],"persisted_recipients":["YWxpY2VAY29tcGxldGVkLm9yZw==","YWxpY2V0d2l0Y2hAc3B1ZC5jb20="],"errors":[]}

'
  recorded_at: Thu, 07 Jun 2018 18:09:06 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/lists/3986776/recipients
    body:
      encoding: UTF-8
      string: '["YWxpY2VAY29tcGxldGVkLm9yZw==","YWxpY2V0d2l0Y2hAc3B1ZC5jb20="]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1528394947'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 Jun 2018 18:09:06 GMT
- request:
    method: patch
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"aliceTwitch@spud.com","name":"Alice the Twitcher","phone":"+14159001420"},{"email":"alice@completed.org","name":"Alice
        the Completed","phone":"+14159001421"}]'
    headers:
      Authorization:
      - Bearer <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: FORBIDDEN
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"access forbidden"}]}'
  recorded_at: Wed, 24 Oct 2018 13:42:00 GMT
recorded_with: VCR 4.0.0
