---
http_interactions:
- request:
    method: get
    uri: https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/d628dbabcb265bddf82441e0ee6b001d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us12.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us12.admin.mailchimp.com/lists/members/view?id=221825129>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"d628dbabcb265bddf82441e0ee6b001d","email_address":"alice@completed.org","unique_email_id":"d0645b11c2","email_type":"html","status":"subscribed","merge_fields":{"ADDRESS":"","PHONE":"+14159001421","BIRTHDAY":"","NAME":"Alice
        the Completed"},"interests":{"d20f89f89a":true,"0e482e836d":false,"477ca79775":true,"1d6c7e03b8":false,"42728538c3":true,"843e4b354b":false},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"73.60.209.229","timestamp_opt":"2018-04-02T14:47:37+00:00","member_rating":2,"last_changed":"2018-04-02T14:49:05+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"b83e0cae3d","_links":[{"rel":"self","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/d628dbabcb265bddf82441e0ee6b001d","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us12.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/d628dbabcb265bddf82441e0ee6b001d","method":"PATCH","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/d628dbabcb2[...]
- request:
    method: get
    uri: https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us12.api.mailchimp.com/schema/3.0/Lists/Interests/Collection.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"interests":[{"category_id":"e3302586ea","list_id":"b83e0cae3d","id":"d20f89f89a","name":"Monthly
        Recurring Notice","subscriber_count":"2","display_order":2,"_links":[{"rel":"self","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests/d20f89f89a","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Response.json"},{"rel":"parent","href":"https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/interest-categories/e3302586ea/interests","method":"GET","targetSchema":"https://us12.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/CollectionResponse.json",[...]
[...]
- request:
    method: put
    uri: https://us12.api.mailchimp.com/3.0/lists/b83e0cae3d/members/d628dbabcb265bddf82441e0ee6b001d
    body:
      encoding: UTF-8
      string: '{"email_address":"alice@completed.org","status_if_new":"subscribed","merge_fields":{"NAME":"Alice
        the Completed","PHONE":"+14159001421"},"interests":{"d20f89f89a":true,"0e482e836d":false,"477ca79775":true,"1d6c7e03b8":false,"42728538c3":true,"843e4b354b":false}}'
    headers:
      Authorization:
      - Basic <ENCODED API KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us12.api.mai[...]
