language: ruby
cache: bundler
bundler_args: --jobs=3 --retry=3 --without production --without staging
dist: trusty
addons:
  postgresql: "9.6"
services:
  - postgresql
  - redis-server
before_script:
  - RAILS_ENV=test bundle exec rake db:setup
