language: ruby
cache: bundler
bundler_args: --jobs=3 --retry=3 --without production --without staging --binstubs
dist: trusty
sudo: required
addons:
  postgresql: "9.6"
  chrome: "stable"
services:
  - postgresql
  - redis-server
env:
  global:
    - RAILS_ENV=test
install:
  - bundle install
  - chromedriver-update
  - sudo apt-get update
  - sudo apt-get install google-chrome-stable
  - nvm install stable && nvm alias default stable
  - npm install -g npm@5.6.x
  - node --version
  - npm --version
  - google-chrome --version
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  - npm install
  - rake db:setup
  - bundle exec rake assets:precompile
script:
  - bin/rails test
  - npm test
