version: '3'

services:
  web: &web_base
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: publishers:latest
    environment:
      API_EYESHADE_BASE_URI: "http://eyeshade-web:3002"
      API_EYESHADE_KEY: "00000000-0000-4000-0000-000000000000"
      RAILS_ENV: development
      REDIS_URL: redis://redis:6379/0
      DATABASE_URL: postgres://postgres@postgres:5432/brave_publishers_dev
      DATABASE_URL_TEST: postgres://postgres@postgres:5432/brave_publishers_test
      ADDRESS: "0.0.0.0"
      SENDGRID_SMTP_SERVER: mailcatcher
      DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: "true"
    command: sh -c "rm -f tmp/pids/server.pid && ./scripts/entrypoint.sh && bundle exec rails s"
    networks:
      - default
      - ledger # Configured in bat-ledgers docker-compose.file. Allows local access to ledgers containers via docker networking interface
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/var/www
    ports:
      - "3000:3000"
    env_file: .env.example

  postgres:
    image: postgres:12-alpine
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - "db-data:/var/lib/postgresql/data:rw"

  mailcatcher:
    image: "schickling/mailcatcher"
    ports:
      - 1025:1025
      - 1080:1080

  redis:
    image: redis:alpine

  sidekiq:
    <<: *web_base
    command: bundle exec sidekiq
    ports: []
    depends_on:
      - web
networks:
  ledger:
    external: true

volumes:
  db-data:


