.partner-container {
  h4 {
    display: inline-block;
  }
  .btn {
    margin-top: -0.5rem;
    float: right;
  }
}

.partner-filters > label {
  margin-right: 0.75rem;

  input {
    margin-right: 0.25rem;
  }
}

.partner-button {
  margin-left: 0.5rem;
}
