.promo-panel-inverted {
  background-color: white;
  width: 100%;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h1 {
    font-weight: 600;
    padding: 0 8px 0 0;
    font-size: 24px;
  }

  table {
    letter-spacing: 0.5px;
    font-size: 14px;

    tr {
      border-bottom: solid 1px rgba(0, 0, 0, 0.2);
      border-top: solid 1px rgba(0, 0, 0, 0.2);

      td {
        padding: 5px 3px;
      }
    }
  }

  .promo-panel-number {
    text-align: right;
    font-weight: 600;
    font-size: 30px;
  }
}

.promo-panel {
  background-color: #00bcd6;
  width: 100%;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &-item-info {
    margin: 12px;
  }

  &-item-button {
    margin: 12px;
  }

  &-header {
    color: #326183;
    letter-spacing: 0.5px;
  }

  .promo-flex-col {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: #fff;
  }

  .promo-flex-stats {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

  }

  @media only screen and (max-width: 400px) {
    .promo-flex-stats {
      flex-direction: column;
    }
  }

  .promo-flex-row {
    display: flex;
    justify-content: space-between;

    &-sub {
      color: #326183;
      font-size: 14px;
      margin: 0 0 16px;
    }
  }

  .promo-panel-header {
    text-align: center;
    font-weight: 600;
    font-size: 1em;
  }

  .promo-table {
    color: #326183;
    letter-spacing: 0.5px;
    font-size: 14px;

    .selectable {
      cursor: pointer;
    }

    tr {
      border-bottom: solid 1px rgba(0, 0, 0, 0.2);
      border-top: solid 1px rgba(0, 0, 0, 0.2);

      td {
        padding: 5px 3px;
      }
    }
  }

  .promo-info {
    margin-top: 15px;

    display: flex;
    align-items: center;

    svg {
      width: 18px;
      height: 18px;
      margin: 0 10px 0 0;
    }

    a {
      color: #fff !important;
    }
  }

  .promo-selected {
    color: rgb(27, 29, 47);
  }

  .promo-period {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    font-weight: 600;

    border-radius: 8px;
    select {
      cursor: pointer;
      border: 0;
      color: #EEE;
      background: transparent;
      font-weight: bold;
      padding: 2px 10px;
      -webkit-appearance: none;
    }
  }

  .promo-panel-number {
    text-align: right;
    font-weight: 600;
    font-size: 30px;
    color: white;
  }

  .promo-panel-title {
    display: flex;
    flex-direction: column;

    &-item {
      display: inline;
      text-align: left;
      font-weight: 600;
      padding: 0 8px 0 0;
      font-size: 24px;
      color: #fff;
    }
  }

  .promo-panel-item {
    #promo-limited-time {
      color: #006192;
      font-weight: 700;
    }

    #promo-header {
      color: white;
      font-weight: 600;
      margin-bottom: 0px;
    }

    #promo-referring-fans {
      color: #bcf0f7;
      font-size: 20px;
      font-weight: 500;
    }

    #activate-promo-dashboard-button {
      background: white;
      color: #4c54d2;
      border: none;

      &:hover,
      &focus {
        background: #bcf0f7;
      }

      font-size: 12px;
      font-weight: 600;
      font-weight: 700;
    }

    &-alert {
      #promo-panel-alert {
        font-size: 14px;
        font-weight: 600;
        color: #006192;
        padding: 30px 30px 35px 70px;
        margin-right: 20px;
        background-color: rgba(255, 255, 255, 0.6);
        text-align: left;
        border-radius: 10px;
        background-image: url(asset-path("icn-info.png"));
        background-position: center left 15px;
        background-repeat: no-repeat;
      }
    }
  }
}
