.unattached-promo-registrations {
  .btn {
    margin: 0px 5px 5px 5px;
  }
  .unattached-referral-code-form--submissions {
    display: flex;
  }
  .unattached-referral-code-form--submission {
    flex: 1;
  }

  label {
    font-weight: bold;
  }
  .unattached-referral-code-form--submission--element {
    padding: 0px 0px 15px 0px;
  }
  .unattached-referral-code-form--submission--submit {
    width: 100%;
    text-align: center;
  }

  .table {
    text-align: center;
    
    tr {
      td {
        padding: 0;
      }
    }
  }

  span.tf-tooltip {
    position: relative;
    display: inline-block;
    color: $link-color;

    span.icon {
      position: relative;
      padding-left: 3px;
    }

    span.tf-tooltip-content {
      display: none;
      position: absolute;
      z-index: 5;
      left: 50%;
      bottom: 100%;
      width: 300px;
      margin-left: -200px;
      padding: 30px 40px;
      background: white;
      border: solid 1px $braveGray-8;
      border-radius: 4px;
      box-shadow: 0 0 10px 0 rgba(34,35,38,0.15);
      color: $braveText-3;
      font-size: 14px;
      line-height: 22px;

      &::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        width: 10px;
        height: 10px;
        margin-top: -5px;
        margin-left: -5px;
        background: white;
        transform: rotate(45deg);
        border: solid 1px $braveGray-8;
        border-top-color: transparent;
        border-left-color: transparent;
      }

      span.tf-tooltip-content-heading {
        display: block;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        color: $braveAccent-Dark;
      }

      span.tf-tooltip-content-content {
        display: block;
      }
    }

    &:hover {
      span.tf-tooltip-content {
        display: block;
      }
    }
  }
}