$subnav-active: #8F9397

body[data-controller="publishers"],
body[data-controller="site_channels"],
body[data-controller="two_factor_authentications"],
body[data-controller="two_factor_registrations"],
body[data-controller="totp_registrations"],
body[data-controller="u2f_registrations"]
  color: #606467
  font-weight: 300
  letter-spacing: 0.2px
  line-height: 1.6

  .main-content
    padding-top: 25px
    padding-bottom: 25px
    background: #eaedef
    background: -webkit-linear-gradient(-75deg, #e9eaef , #e0e3e6 , #d6d6d6 , #e7ccc9 ,#f7ada7 , #d68588 , #ca3884 , #c7297b )
    min-height: calc(100vh - 80px)
    padding-top: 25px
    &.sans-nav
      min-height: 100vh

  .publisher-panel
    max-width: 880px
  .publisher-main-panel
    margin-top: 0px
    margin-bottom: 150px
  .publisher-domain-panel
    background-color: transparent
    margin-top: 17px
    margin-bottom: 13px
    .publisher-domain-name
      text-align: right
      font-size: 16px
      line-height: 16px
  .content-panel
    margin: 0 auto
    width: 460px
    background-color: transparent
  .info-panel
    padding-top: 140px
    padding-bottom: 105px
    h3
      color: #2f3032
      font-size: 38px
      font-weight: 300
      margin-top: 0px
      margin-bottom: 40px
    .panel-controls
      margin-top: 58px
    .content-panel
      padding: 0 10px
  .process-panel
    padding-top: 64px
    padding-bottom: 105px
    h3
      color: #2f3032
      font-size: 22px
      font-weight: 500
      margin-top: 0px
      margin-bottom: 34px
    .panel-controls
      margin-top: 48px
      .btn
        padding-left: 60px
        padding-right: 60px
    .content-panel
      padding: 0 0
  .process-panel-narrow
    .content-panel
      padding: 0 30px
  .login-panel
    h3
      font-size: 32px
      margin-bottom: 80px
    .form-row
      margin-bottom: 40px
    .form-footer
      margin-top: 100px
      text-align: center
      a
        margin-left: 0.5em

  #converted_amount
    @media (max-width: $screen-sm-max)
      margin-bottom: 20px

  .promo--tos
    color: white
    opacity: .7
    margin-left: 60px
    margin-top: 20px
    margin-right: 60px
    font-size: 12px
    text-align: center
    a
      color: white
      &:hover, &focus
        color: white

    @media (max-width: $screen-sm-max)
      margin-left: 85px
      margin-right: 85px
  .promo-panel
    padding: 0px 15px 0px 100px
    background-color: #00BCD6
    display: table
    width: 100%
    height: 150px
    background-image: url(asset-path("bat-mercury-patch-jr.png")), url(asset-path("bat-polygon-narrow.png"))
    background-repeat: no-repeat
    background-position: center left 30px, left top 50px
    background-size: auto 100px, cover
    #promo-downloaded
      text-align: right
      padding-right: 40px
    .promo-panel-item
      display: table-cell
      vertical-align: middle
      #promo-limited-time
        color: #006192
        font-weight: 700
      #promo-title
        color: white
        font-weight: 600
        margin-bottom: 0px
      #promo-referring-fans
        color: #BCF0F7
        font-size: 20px
        font-weight: 500
      .promo-item-content
        color: #006192
        font-weight: 600
        font-size: 14px
        letter-spacing: 1px
        &-header
          font-weight: 500
          margin-bottom: -8px
        &-number
          font-size: 32px
          text-align: center
        &-white
          color: white
          letter-spacing: 0px
        &-tos
          line-height: normal
          letter-spacing: normal
          font-size: 12px
          font-weight: unset
          padding-right: 110px
          @media (max-width: $screen-md-max)
            padding-right: 50px
        &-progress
          font-weight: 700
      &-button
        text-align: center
      #activate-promo-dashboard-button
        background: white
        color: #006192
        &:hover, &focus
          background: #BCF0F7
        font-size: 11px
        font-weight: 600
        font-weight: 700
      &-alert
        width: 60%
        #promo-panel-alert
          font-size: 14px
          font-weight: 600
          color: #006192
          padding: 30px 30px 35px 70px
          margin-right: 20px
          background-color: white
          text-align: left
          opacity: .5
          border-radius: 10px
          background-image: url(asset-path("icn-info.png"))
          background-position: center left 15px
          background-repeat: no-repeat
          
  .channel--promo-info-container
    float: right
    height: 45px
    width: 166px
    transition: .3s ease-in-out
    display: table
    .promo-info-item
      height: 100%
      text-align: center
      display: table-cell
      vertical-align: middle
    .referral-link-button
      width: 110px
      background: #edf3f9
      display: table-cell
      border: solid
      border-width: 1px
      border-radius: 4px
      border-color: #cddeec
      cursor: pointer
      span
        transition: opacity 0.7s linear
      span.fadedOut
        opacity: 0
      &-mobile
        display: none
    .referral-link-url
      background: #edf3f9
      height: 100%
      text-align: left
      padding-left: 8px
      border: solid
      border-width: 1px 0px 1px 1px
      border-radius: 4px 0px 0px 4px
      border-color: #cddeec
      white-space: nowrap
      display: none
    .referral-link-copy-button
      background: #ff3f3f
      color: white
      height: 100%   
      border-radius: 0px 4px 4px 0px
      cursor: pointer
      display: none
    .promo-share-button
      height: 23px
      width: 28px
      display: table-cell
      background-position: center
      background-repeat: no-repeat
      &-twitter
        background-image: url(asset-path("tweet.png"))
      &-facebook
        background-image: url(asset-path("f-share.png"))
    &-slideout
      width: 300px // 300px when using brave.com for base referral link
      .promo-info-item
        display: table-cell
      .referral-link-button
        display: none
    @media (max-width: $screen-sm-max)
      margin-top: 20px
      margin-left: 30px
      .referral-link-button
        &-mobile
          display: table-cell
        &-desktop
          display: none
      .referral-link-copy-button
        display: none
      .referral-link-url
        display: none

  .expired-token-panel
    max-width: 710px
    .sub-panel
      background-image: url(asset-path("icn-warning@2x.png"))
      background-repeat: no-repeat
      background-position: top 60px center
      background-size: 70px
      padding-top: 170px
      padding-bottom: 75px
      .panel-controls.col-center
        width: 300px
      p
        padding-left: 52px
        padding-right: 52px
      .row
        .col.col-md-8.col-md-offset-2.text-center.col-center
          width: 448px

  @media (max-width: $screen-sm-max)
    .process-panel
      padding-bottom: 57px
      .panel-controls
        margin-top: 15px
      h3
        font-size: 28px
        margin-bottom: 23px
    .expired-token-panel
      .sub-panel
        width: 448px
        .row
          .col.col-md-8.col-md-offset-2.text-center.col-center
            width: 300px
            .panel-controls
              width: 250px
        p
          padding: 0px
    .site-login, .youtube-login
      padding-left: 0
      padding-right: 0
      padding-bottom: 0

  @media (max-width: $screen-xxs-max)
    .process-panel
      h3
        font-size: 22px
        margin-bottom: 18px

  .signup-panel
    .col
      text-align: center
    .btn-primary
      margin: 20px 0

  p
    margin-bottom: 26px

  h3
    color: #2f3032
    font-size: 38px
    font-weight: 300
    margin-top: 0px
    margin-bottom: 40px
  h4
    color: #2f3032
    font-size: 22px
    font-weight: 500
    margin-top: 0px
    margin-bottom: 20px

  .form-group
    padding-top: 5px
  .form-group.button:last-child
    margin: 40px 0 20px 0
  .control-label
    font-weight: 500
    color: #484B4E
  .optional
    color: #818589
    font-weight: 300

  label
    font-size: 16px
    font-weight: 600
    color: #48494b
  .label-checkbox
    padding-left: 1em
    text-indent: -1em
    display: block
  a
    color: #00BCD6
    text-decoration: none
    &:hover, &:focus
      color: #00BCD6
      text-decoration: underline

  .note-text
    font-size: 14px
    font-weight: 300
    color: #999EA2
    a
      color: #999EA2
      &:hover, &:focus
        color: #00BCD6

  strong
    font-weight: 600

  .hidden
    display: none

  .in-place-edit
    background: #f3f3f3
    border-radius: 12px
    padding: 18px
    .button.form-group a
      display: inline-block
      margin-left: 18px

  .note
    margin-top: 8px
    background: #f0f0f0
    border: 1px solid #ccc
    padding: 10px
    color: #666

  .dimmed
    position: relative
    opacity: 0.20

  .dimmed:after
    content: " "
    z-index: 10
    display: block
    position: absolute
    height: 100%
    top: 0
    left: 0
    right: 0

  .instruction-img
    margin-bottom: 35px

  .noscript-warning
    text-align: center
    background: #f0f0f0
    border: 1px solid #ff3f3f
    border-radius: 10px
    padding: 10px
    margin-bottom: 20px
    color: #ff3f3f

body[data-controller="publishers"]
  &[data-action="create_done"]
    .email-panel
      background-image: url(asset-path("email-2@1x.png"))
      background-position: top 65px right 50px
      background-repeat: no-repeat
    .email-address
      color: #ff3f3f


  &[data-action="create_done"]
    .hidden_form > *,
    #verification_in_progress
      display: none
    .https-hint, .method-alt
      a
        color: $gray
        text-decoration: underline
    .method-alt
      font-size: $font-size-small
      color: $gray
      line-height: $line-height-computed * 1.5
    .publisher-domain-summary
      margin-bottom: 18px
      .publisher-domain-name
        font-size: $font-size-h3
      img.verified-icon
        margin-right: 2px
        margin-left: 2px
      img.verified-icon-small
        margin-right: 2px
        margin-left: 2px
        height: 20px
      img.uphold-connect-icon
        margin-left: 2px
    .submit-payment-info
      margin: 24px 0
    .img-center
      margin: 0 auto
      display: block

  &[data-action="email_verified"],
  &[data-action="complete_signup"]
    .process-panel
      padding: 80px 200px 80px 80px
      background: #fff url(asset-path("img-brands.png")) top right no-repeat
      .content-panel form
        width: 350px
        .form-check-input
          vertical-align: top
          margin-top: 5px
        .form-check-label
          padding-left: 15px
          width: 330px
          font-size: 14px
          font-weight: 300
        .panel-controls
          margin-top: 45px
      h1
        color: #ff3f3f
      .tos
        margin-top: 20px
        font-size: 14px
        color: $gray

  &[data-action="home"],
  &[data-action="index"]
    .container
      .col-details
        margin-top: 30px
      h4.balance-header
        font-size: 13px
        font-weight: 300
        letter-spacing: 0.5px
      legend
        margin-bottom: 12px
      .uphold-panel
        background-image: url(asset-path("uphold@1x.png"))
        background-repeat: no-repeat
        background-position: top right
      .tos-row
        margin-bottom: 150px
      .dashboard-panel
        padding-left: 95px
        padding-right: 45px
        @media (min-width: $screen-md-min)
          min-height: 460px
        min-width: 450px
        .panel-header
          margin: 0 0 0 -50px
          padding: 12px 0 12px 50px
          vertical-align: middle
          font-weight: 400
          background-position: center left
          background-repeat: no-repeat
          background-size: 34px 42px
          &#dashboard_uphold_header
            padding-top: 14px
            background-image: url(asset-path("wallet@1x.png"))
          &#publishers_statement
            background-image: url(asset-path("download@1x.png"))
          &#publishers_contact
            background-image: url(asset-path("contact@1x.png"))
          &#publishers_list
            background-image: url(asset-path("list@1x.png"))
        .panel-header-h3
          font-size: $font-size-h3
        .panel-header-h4
          font-size: $font-size-base
        .panel-section
          margin-bottom: 40px
      .attribute-value
        margin-bottom: 24px

      #publisher_verification_status
        font-size: $font-size-base
        vertical-align: middle
        padding: 5px 0 5px 35px
        background-position: center left
        background-repeat: no-repeat
        background-size: 25px
        &.verified
          background-image: url(asset-path("verified-icon@1x.png"))
        &.unverified
          background-image: url(asset-path("unverified-icon.png"))
      #publisher_status
        vertical-align: top
        margin-top: 20px
        margin-bottom: 45px
        &.complete
          // no background
        &.uphold_processing,
        &.uphold_reauthorize,
        &.uphold_unconnected
          padding: 0 0 5px 52px
          background-position: top left
          background-repeat: no-repeat
          background-size: 42px
          background-image: url(asset-path("icn-warning@1x.png"))
      #update_publisher_visible_form
        margin-top: 40px
        margin-left: -30px
        width: 370px
        .form-check-input
          vertical-align: top
          margin-top: 5px
        .form-check-label
          padding-left: 15px
          width: 350px
          font-size: 15px
          font-weight: 300

      .balance
        font-size: $font-size-base
        vertical-align: top
        .amounts
          margin-top: -16px
          margin-left: 15px
          .bat-amount
            font-size: 48px
            color: #222326
            font-weight: 500
          .bat-code
            font-size: 16px
            color: #222326
            font-weight: 500
          .converted
            margin-top: -8px
            font-size: 14px
            color: $gray-light
      .add-channel-cta
        display: inline-block
        margin-top: 25px
        padding: 0 0 5px 52px
        background-position: top left
        background-repeat: no-repeat
        background-size: 42px
        background-image: url(asset-path("icn-info.png"))
      .channel-placeholder
        display: block
        padding: 30px
        border: 3px dashed #fff
        border-radius: 10px
        color: #ffffff
        font-weight: 500
        text-align: center
        &:hover
          color: #ffffff
          text-decoration: none
      .channel-row
        max-height: 300px
        &.channel-hidden
          transition: max-height 300ms ease-out
          max-height: 0
          overflow: hidden
      .channel-panel
        padding: 18px 40px 20px
        .channel-thumbnail
          margin-right: 15px
          img
            height: 40px
            width: 40px
            border-radius: 20px
        .channel-summary
          margin-right: 20px
          width: 100%
          h3
            font-weight: bolder
            font-size: 20px
            margin: 0
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap
        &.channel-unverified
          background-color: rgba(255,255,255,0.6)
          .channel-summary
            padding: 9px 0
          .channel-progress
            padding: 8px 0
            .one-more-step
              font-size: 14px
              padding: 3px 0 3px 115px
              background: url(asset-path("channel-progress.png")) no-repeat center left
          .channel-status
            padding: 2px 0
          .remove-channel
            display: inline-block
            margin: 9px 20px
            color: rgb(255, 63, 63)

        &.channel-verified
          .channel-summary
            padding-right: 120px
            .channel-details
              margin-top: 6px
              font-size: 14px
              color: $gray
              .added-date, .separator, .remove-channel
                display: inline-block
                margin-right: 12px
          .channel-status
            background: url(asset-path("icn-verified.png")) no-repeat top left
            padding: 3px 0 12px 38px
            margin-top: -4px


        &--intro
          margin-bottom: 7px
          font-size: 12px
        &--intro-icon
          float: left
          margin-right: 7px
        &--intro-body
          line-height: 1.8

        &.channel-unverified
          .channel-panel--intro
            margin-bottom: 3px

      #default_currency_code
        font-weight: 600
      .payment-info
        font-size: $font-size-base
      .last-deposit
        font-weight: 700
      .statements
        white-space: nowrap
      #generated_statements
        margin: 12px 0 16px 0
        .statement
          font-size: 14px
          font-weight: 300
          margin-bottom: 6px
          .period
            display: inline-block
            width: 70%
          .download
            display: inline-block
            width: 30%
      #statement_period
        margin-top: 5px
        margin-right: 10px
      .btn-generate
        padding: 5px 10px
      .edit-link
        font-size: 16px
        font-weight: 500
        color: #00bcda
        display: inline-block
        &#generate_statement
          line-height: 26px
          padding: 5px 0
      .terms-of-service
        text-align: right
        margin-top: -10px
        a
          padding-right: 20px
          color: rgba(#ededee, 0.65)
          font-size: 14px
          font-weight: 300

    #channel_taken_modal
      width: 650px
      .md-content
        padding: 70px 80px 70px 80px
        background: #fff
        border-radius: 10px
        h1
          font-size: 32px
          font-weight: 300
          color: #ff3f3f
          margin-top: 0
          padding-top: 0
        .taken-channel
          margin: 50px 0 50px 40px
          .summary
            margin-bottom: 20px
            img
              display: inline-block
              width: 40px
              height: 40px
              border-radius: 20px
              margin-right: 10px
            .title
              display: inline-block
          .registration-date
            label
              display: inline-block
              margin-right: 8px
            .value
              display: inline-block
          .registered-by
            label
              display: inline-block
              margin-right: 8px
            .value
              display: inline-block
        .panel-section
          margin-top: 35px
          text-align: center
        a.btn
          min-width: 150px
          margin: 10px 0
    @media (max-width: 550px)
      #channel_taken_modal .md-content
        padding: 60px
        background: #fff
        border-radius: 0

  &[data-action="email_verified"],
  &[data-action="choose_new_channel_type"]
    .btn-cancel
      background: none
    .publisher-panel
      margin-top: 40px
    h1
      font-size: 36px
      font-weight: 300
      margin-bottom: 36px
      color: #222326
    h2
      font-size: 20px
      font-weight: 300
      width: 410px
      line-height: 32px
      letter-spacing: -0.4px
    h3
      padding-top: 260px
      color: #ff3f3f
      font-size: 19px
      font-weight: 600
      margin-bottom: 15px

    a:hover
      text-decoration: none

    .choice-panel
      background-color: white
      border: none
      border-radius: 8px
      box-shadow: 2px 2px 0px 0px rgba(47,48,50,0.15)
      margin: 0 auto 30px auto
      width: 400px
      height: 400px
      color: #606467
      font-weight: 300
      &:hover
        text-decoration: none

    .choice-description
      padding: 0 70px
      font-weight: 600
      letter-spacing: -0.4px

    .select-choice
      &::before
        transition: all 200ms ease-in
        color: #fff
        font-size: 28px
        font-weight: 600
        padding-top: 190px
        position: absolute
        width: 400px
        height: 400px
        text-align: center
        vertical-align: middle
        opacity: 0
        border-radius: 8px

      &:hover:before
        opacity: 1
        background: rgba(#222326,0.7)
        transition: all 200ms ease-in

    .site-operator
      background: url(asset-path("img-site-operator@1x.png")) center 66px no-repeat
      &::before
        content: 'SITE OPERATOR'

    .individual-creator
      background: url(asset-path("img-indi-creator@1x.png")) center 66px no-repeat
      &::before
        content: 'YOUTUBE CREATOR'
      .choice-description
        p
          margin-bottom: 5px
      p.text-center.note-text
        line-height: 17px
        width: 350px
        margin: auto


    @media (max-width: $screen-md-max)
      .site-operator
        margin-bottom: 32px
    @media (min-width: $screen-md-min)
      .publisher-panel
        width: 840px
      .choice-panel-left
        float: left !important
      .choice-panel-right
        float: right !important


.md-container--modal-identifier--choose-channel-type
  max-width: 685px
  & > div
    width: 100%
    background-image: url(asset-path("choose-channel/header.jpg"))
    background-repeat: no-repeat
    background-size: 685px
    background-position: top center
    background-color: #EFF2F5
    padding-bottom: 0

  .card
    display: block 
    border-radius: 4px
    background: white
    border: 1px solid white

    &:hover
      border: 1px solid #DBDFE3
      box-shadow: 0 0 22px 0 rgba(34, 35, 38, 0.12)

  .block-link--card
    margin-bottom: 24px
    color: inherit
    text-decoration: inherit

    &:hover
      color: inherit
      text-decoration: inherit

  .card-body
    padding: 24px 64px
    h6
      color: #7D7BDC
      font-weight: bold
      font-size: 18px

  .icon-and-text
    &--wrapper
      display: flex
      justify-content: flex-start
      flex-direction: row
      flex-wrap: nowrap
    &--icon
      flex: 0 0 0
      align-self: center
      margin: 0 14px 0 6px
      line-height: 0
      @media (max-width: $screen-xs-max)
        display: none
    &--text
      text-align: left
      flex: 1 1 100%
      margin: auto 0

  .choose-channel
    &--icon
      margin-right: 24px
    &--header-box
      height: 130px
      h3
        color: white
        margin-bottom: 0
      p
        color: #BCC0F6
        font-weight: bolder
    &--body-box
      padding: 16px
