# For case notes so far, the default bucket option
amazon_case_notes:
  service: S3
  access_key_id: <%= ENV['S3_PUBLISHERS_ACCESS_KEY_ID'] %>
  secret_access_key: <%= ENV['S3_PUBLISHERS_SECRET_ACCESS_KEY'] %>
  region: <%= ENV['S3_PUBLISHERS_BUCKET_REGION'] %>
  bucket: <%= ENV['S3_PUBLISHERS_BUCKET_NAME'] %>

# Also used for PCDN, but that uses these vars manually and uses a different path in the bucket
amazon_banner_images:
  service: S3
  access_key_id: <%= ENV['S3_REWARDS_ACCESS_KEY_ID'] %>
  secret_access_key: <%= ENV['S3_REWARDS_SECRET_ACCESS_KEY'] %>
  region: <%= ENV['S3_REWARDS_BUCKET_REGION'] %>
  bucket: <%= ENV['S3_REWARDS_BUCKET_NAME'] %>
  