#tipping-banner-modal-selection {
  padding: 10px 30px 10px 30px;
}

#icn-donation-jar {
  height: 95px;
}

.banner-intro-intro {
  padding-top: 9px;
  font-size: 17px;
}

.banner-intro-tagline {
  padding-right: 30px;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 50px;
  font-size: 1.23rem;
}

#open-preview-button {

}

#open-banner-button {
  width: 150px;
  font-weight: bold;
  font-size: 15px;
}

.preview-link {
  color: #ff3f3f;
  padding-right: 30px;
  font-weight: bold;
  font-size: 15px;
}

.preview-link:hover {
  color: #ff3f3f;
  text-decoration: none;
}

.preview-link:visited {
  color: #ff3f3f;
  text-decoration: none;
}
