.camera-background {
  background-size: 60px 47px;
  width: 60px;
  height: 47px;
  background-image: url(asset-path("camera@2x.png"));
  background-color: transparent;
  border-style: none;
}

#icn-donation-jar {
  margin-bottom: 30px;
}

.brave-rewards-banner {
  &--background {
    &-label {
      display: block;
      margin-left: -4px;
      margin-top: 5px;
      font-size: 16px;
    }

    &-camera {
      margin-left: 46%;
      margin-top: -60px;
    }
  }

  &--logo {
    &-parent {
      position: relative;
    }

    &-label {
      display: block;
      margin-left: -4px;
      margin-top: 5px;
      font-size: 16px;
    }

    &-no-attachment {
      margin-left: 30%;
      position: absolute;
    }

    &-camera {
      margin-left: 30%;
      margin-top: 30%;
      position: absolute;
    }
  }
}

.nav {
  display: block;

  .title {
    display: none;
  }

  .title-partner {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
  }

  @include media-breakpoint-down(md) {
    .title,
    .btn {
      display: none;
    }
  }

  @media only screen and (max-width: 1300px) {
    .title-partner {
      display: none;
    }
  }

  .title,
  .btn {
    margin-right: 25px;
  }

  .title-partner,
  .btn {
    margin-right: 25px;
  }
}

.dashboard {
  max-width: 1140px;
  margin: auto;

  .promo--tos {
    color: $braveText-3;
    opacity: 0.7;
    font-size: 12px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }

  .promo-panel {
    background-color: #00bcd6;
    width: 100%;
    border-radius: 8px;
    padding: 32px;
    box-shadow: $defaultBoxShadow;

    &-item-info {
      margin: 12px;
    }

    &-item-button {
      margin: 12px;
    }

    &-header {
      color: #326183;
      letter-spacing: 0.5px;
    }

    .promo-flex-col {
      display: flex;
      flex-direction: column;
      color: #fff;
    }

    .promo-flex-stats {
      display: flex;
      justify-content: space-between;
    }

    @media only screen and (max-width: 400px) {
      .promo-flex-stats {
        flex-direction: column;
      }
    }

    .promo-flex-row {
      display: flex;

      &-sub {
        color: #326183;
        font-size: 14px;
        margin: 0 0 16px;
      }
    }

    .promo-panel-header {
      text-align: center;
      font-weight: 600;
      font-size: 1em;
    }

    .promo-panel-number {
      text-align: center;
      font-weight: 600;
      font-size: 30px;
    }

    .promo-panel-title {
      display: flex;
      flex-direction: column;

      &-item {
        display: inline;
        text-align: left;
        font-weight: 600;
        padding: 0 8px 0 0;
        font-size: 24px;
        color: #fff;
      }
    }

    .promo-panel-item {
      #promo-limited-time {
        color: #006192;
        font-weight: 700;
      }

      #promo-header {
        color: white;
        font-weight: 600;
        margin-bottom: 0px;
      }

      #promo-referring-fans {
        color: #bcf0f7;
        font-size: 20px;
        font-weight: 500;
      }

      #activate-promo-dashboard-button {
        background: white;
        color: #4c54d2;
        border: none;

        &:hover,
        &focus {
          background: #bcf0f7;
        }

        font-size: 12px;
        font-weight: 600;
        font-weight: 700;
      }

      &-alert {
        #promo-panel-alert {
          font-size: 14px;
          font-weight: 600;
          color: #006192;
          padding: 30px 30px 35px 70px;
          margin-right: 20px;
          background-color: rgba(255, 255, 255, 0.6);
          text-align: left;
          border-radius: 10px;
          background-image: url(asset-path("icn-info.png"));
          background-position: center left 15px;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .col-md-5 {
    .promo-panel-header {
      font-size: 0.75em;
    }
  }

  .channel--promo-info-container {
    position: absolute;
    right: 24px;

    @media only screen and (max-width: 520px) {
      margin: 8px 0;
      display: flex;
      position: initial;
    }

    .promo-info-item {
      height: 100%;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      padding: 4px;
    }

    .referral-link-button {
      background: #edf3f9;
      display: table-cell;
      border-radius: 4px;
      padding: 8px;
      cursor: pointer;

      span {
        transition: opacity 0.7s linear;
      }

      span.fadedOut {
        opacity: 0;
      }

      &-mobile {
        display: none;
      }
    }

    .referral-link-url {
      background: #edf3f9;
      height: 100%;
      text-align: left;
      padding-left: 8px;
      border: solid;
      border-width: 1px 0px 1px 1px;
      border-radius: 4px 0px 0px 4px;
      border-color: #cddeec;
      white-space: nowrap;
      display: none;
    }

    .referral-link-copy-button {
      background: $braveBrand;
      color: white;
      height: 100%;
      border-radius: 0px 4px 4px 0px;
      cursor: pointer;
      display: none;
    }

    .promo-share-button {
      height: 36px;
      width: 36px;
      display: table-cell;
      background-position: center;
      background-repeat: no-repeat;

      &-twitter {
        background-image: url(asset-path("tweet.png"));
      }

      &-facebook {
        background-image: url(asset-path("f-share.png"));
      }
    }

    &-slideout {
      .promo-info-item {
        display: table-cell;
      }

      .referral-link-button {
        display: none;
      }
    }

    @include media-breakpoint-down(sm) {
      .referral-link-button {
        &-mobile {
          display: table-cell;
        }

        &-desktop {
          display: none;
        }
      }

      .referral-link-copy-button {
        display: none;
      }

      .referral-link-url {
        display: none;
      }
    }
  }

  .dashboard-panel {
    &--wrapper {
      padding: 32px;
      background-color: white;
      border-radius: $brave-panels-borderRadius;
      box-shadow: $defaultBoxShadow;
      height: 100%;
    }

    &--header {
      padding: 4px 0 4px;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
    }

    &--content {
      margin-bottom: 24px;
    }
  }

  .block-note {
    background: #f0f0f0;
    border: 1px solid #cccccc;
    padding: 10px 15px;
    color: $braveText-2;
    border-radius: $brave-panels-borderRadius;
  }

  .in-place-edit {
    background: $braveGray-9;
    border-radius: $brave-panels-borderRadius;
    padding: 18px;

    .button.form-group a {
      display: inline-block;
    }
  }

  .form-group {
    padding-top: 5px;
  }

  .form-group.button:last-child {
    margin: 40px 0 20px 0;
  }

  .control-label {
    font-weight: 500;
    color: $braveText-2;
  }

  .attribute-value {
    margin-bottom: 24px;
  }

  h4.balance-header {
    font-size: 13px;
  }

  #uphold_status {
    #uphold_status_display {
      vertical-align: top;
      margin-bottom: 5px;
    }

    .unavailable-currencies {
      padding: 9px 0 9px 52px;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 42px;
      background-image: url(asset-path("icn-warning@1x.png"));
    }

    .status-summary {
      font-size: 14px;

      .text {
        display: inline-block;

        &:before {
          content: "\25CF\00a0";
        }
      }

      .action {
        display: inline-block;
        margin-left: 15px;

        .disconnect-uphold {
          color: $braveText-4;
        }
      }
    }

    .field {
      margin: $spacer * 0.4 0;

      label {
        display: inline-block;
        margin: 0;
      }

      .value {
        display: inline-block;
        margin-left: 11px;
      }

      .action {
        display: inline-block;
        margin-left: 11px;
      }
    }

    #last_settlement {
      &.settlement-made {
        display: block;
      }

      &.no-settlement-made {
        display: none;
      }

      .last-deposit {
        font-size: $font-size-base;
        vertical-align: top;
        margin-top: 34px;

        .amounts {
          .bat-amount {
            font-size: 30px;
            color: $braveBrand;
            font-weight: 500;
          }

          .bat-code {
            font-size: 16px;
            color: $braveText-2;
            font-weight: 500;
          }

          .converted {
            margin-top: -8px;
            font-size: 14px;
            color: $braveGray-4;
          }
        }
      }
    }

    #uphold_check_balance {
      margin-top: 2rem;
    }

    &.uphold-timeout {
      .status-summary .action,
      #uphold_dashboard,
      #uphold_connect,
      #last_settlement,
      .statements-available {
        display: none;
      }
    }

    &.uphold-complete,
    &.uphold-processing {
      .status-summary .action .connect-uphold,
      #uphold_connect {
        display: none;
      }
    }

    &.uphold-processing {
      #uphold_dashboard,
      #last_settlement,
      .statements-available {
        display: none;
      }
    }

    &.uphold-complete {
      .statements-unavailable {
        display: none;
      }
    }

    &.uphold-restricted,
    &.uphold-reauthorization-needed,
    &.uphold-unconnected {
      .status-description {
        background-position: left;
        background-repeat: no-repeat;
        background-size: 30px;
        background-image: url(asset-path("icn-warning@1x.png"));
        padding: 0 0 0 48px;
        margin: 0 0 24px;
        font-size: 14px;
      }

      #uphold_connect {
        margin-top: 30px;
      }

      #uphold_dashboard,
      #last_settlement,
      .statements-available {
        display: none;
      }
    }

    &.uphold-reauthorization-needed,
    &.uphold-unconnected {
      .status-summary .action .disconnect-uphold,
      .reconnect-instructions {
        display: none;
      }
    }

    &.uphold-restricted {
      .status-summary .action .connect-uphold,
      .reconnect-instructions {
        display: none;
      }

      .status-summary,
      #reconnect_to_uphold {
        display: none;
      }

      .status-summary,
      #go_to_uphold {
        /* (Albert Wang): We add lot"s of crazy complexity by disabling HTML elements */
        display: inline !important;
      }
    }

    // Status summary label
    &.uphold-complete,
    &.uphold-restricted,
    &.uphold-blocked,
    &.uphold-processing {
      .status-summary .text {
        color: darken(#2aeaa1, 10%);
      }
    }

    &.uphold-reauthorization-needed,
    &.uphold-timeout {
      .status-summary .text {
        color: $braveRed;
      }
    }

    &.uphold-unconnected {
      .status-summary .text {
        color: $braveGray-6;
      }
    }

    &.uphold-processing {
      .status-summary .text {
        animation: blinker 1s linear infinite;
      }
    }
  }

  #update_publisher_visible_form {
    padding: 24px 24px 0 24px;

    .form-check-input {
      vertical-align: top;
      margin-top: 5px;
    }

    .form-check-label {
      padding-left: 15px;
      font-size: 15px;
      font-weight: 300;
    }
  }

  .payouts {
    display: flex;
  }

  .balance {
    font-size: $font-size-base;
    display: flex;
    justify-content: flex-start;
    color: $braveText-2;

    & img {
      margin: 12px;
    }

    .amounts {
      display: flex;
      flex-direction: column;
      min-width: 12em;

      .bat-amount {
        font-size: 48px;
        line-height: 42px;
      }

      .bat-code {
        font-size: 16px;
      }

      .converted {
        font-size: 14px;
        color: $braveGray-4;
      }
    }
  }

  .add-channel-cta {
    display: inline-block;
    margin-top: 25px;
    padding: 0 0 5px 52px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 42px;
    background-image: url(asset-path("icn-info.png"));
  }

  .channel-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed $braveBrand-Light;
    border-radius: 8px;
    color: $braveBrand;
    font-weight: 600;
    padding: 32px;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
      text-decoration: none;
    }
  }

  .channel-row {
    &.channel-hidden {
      transition: max-height 300ms ease-out;
      max-height: 0;
      overflow: hidden;
    }
  }

  .channel-panel {
    padding: 24px;
    border-radius: $brave-panels-borderRadius;
    background-color: white;
    box-shadow: $defaultBoxShadow;
    position: relative;

    .channel-summary {
      width: 100%;

      h3 {
        font-size: 20px;
      }

      h3.unverified {
        padding-top: 11px;
      }

      .channel-details {
        font-size: 14px;
        display: flex;
      }

      .separator {
        padding: 0 8px;
      }
    }

    &.channel-incomplete,
    &.channel-started,
    &.channel-failed {
      background-color: rgba(255, 255, 255, 0.6);
    }

    &.channel-incomplete {
      .channel-progress {
        padding: 8px 0;

        .one-more-step {
          font-size: 14px;
          padding: 3px 0 3px 115px;
          margin-right: 10px;
          background: url(asset-path("channel-progress.png")) no-repeat center
            left;
        }
      }
    }

    &.channel-failed {
      .channel-status {
        display: flex;
        background: url(asset-path("icn-warning@1x.png")) no-repeat top left /
          24px 24px;
        padding: 0 0 12px 38px;
        font-weight: bold;

        .btn {
          vertical-align: top;
          margin-left: 10px;
        }

        .verification-failed {
          .verification-failed--details {
            position: relative;
            font-size: 14px;
            font-weight: 500;

            .verification-failed--what-happened {
              color: $braveBrand;
              cursor: pointer;
            }
          }

          .verification-failed--explanation {
            display: none;
            position: absolute;
            left: -145px;
            bottom: 100%;
            padding: 30px 40px;
            background: white;
            border-radius: 4px;
            box-shadow: $defaultBoxShadow;
            font-size: 14px;

            &::after {
              content: " ";
              position: absolute;
              top: 100%;
              left: 50%;
              width: 10px;
              height: 10px;
              margin-top: -5px;
              margin-left: -5px;
              background: white;
              transform: rotate(45deg);
              border: solid 1px $braveGray-8;
              border-top-color: transparent;
              border-left-color: transparent;
            }

            .verification-failed--explanation-content {
              display: block;
            }
          }
        }
      }
    }

    &.channel-verified {
      .channel-status {
        background: url(asset-path("bat-logo@1x.png")) no-repeat top left;
        background-size: 30px 28.5px;
        padding: 1px 0 12px 38px;
      }

      .channel-contested {
        p {
          margin: 5px 0px 0px 0px;
        }
      }
    }

    .channel-info {
      display: flex;
      background: url(asset-path("icn-info.png")) no-repeat top left / 24px 24px;
      padding: 0 0 12px 38px;
      font-weight: bold;

      .btn {
        vertical-align: top;
        margin-left: 10px;
      }

      .info-popup {
        .info--details {
          position: relative;
          font-size: 14px;
          font-weight: 500;

          .info--what-happened {
            color: $braveBrand;
            cursor: pointer;
          }
        }

        .info--explanation {
          display: none;
          position: absolute;
          left: -145px;
          bottom: 100%;
          padding: 30px 40px;
          background: white;
          border-radius: 4px;
          box-shadow: $defaultBoxShadow;
          font-size: 14px;

          &::after {
            content: " ";
            position: absolute;
            top: 100%;
            left: 50%;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            margin-left: -5px;
            background: white;
            transform: rotate(45deg);
            border: solid 1px $braveGray-8;
            border-top-color: transparent;
            border-left-color: transparent;
          }

          .verification-failed--explanation-content {
            display: block;
          }
        }
      }
    }

    &--intro {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
    }

    &--intro-icon {
      margin-right: 8px;
      display: flex;
    }

    &--intro-body {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1;
    }
  }

  .payment-info {
    font-size: $font-size-base;
  }

  .header-link {
    font-size: 16px;
    font-weight: 500;
    color: $braveBrand;
    display: inline-block;
  }

  .bat-channel {
    &--amount {
      font-size: 28px;
      font-weight: bolder;
      display: inline;
      line-height: 1;
    }

    &--currency {
      font-size: 14px;
      display: inline;
      color: $braveText-2;
      line-height: 1;
      padding-left: 3px;
    }

    &--period {
      line-height: 1;
      color: $braveText-3;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

#confirm_default_currency_modal {
  text-align: center;

  #publisher_default_currency {
    display: block;
    margin: 0px auto 36px;
  }

  #img-currency-setting {
    height: 79px;
    width: 71px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .transition {
    display: none;
  }

  &.transitioning {
    .entry {
      display: none;
    }

    .transition {
      display: block;

      .spinner {
        padding: 40px 100px;
      }

      .status {
        min-height: 3rem;
        font-size: 18px;
      }
    }
  }
}

#channel_taken_modal {
  .taken-channel {
    margin: $spacer * 2;

    .summary {
      margin-bottom: 20px;

      img {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-right: 10px;
      }

      .title {
        display: inline-block;
      }
    }

    .registration-date {
      label {
        display: inline-block;
        margin-right: 8px;
      }

      .value {
        display: inline-block;
      }
    }

    .registered-by {
      label {
        display: inline-block;
        margin-right: 8px;
      }

      .value {
        display: inline-block;
      }
    }
  }
}

.modal-container--modal-identifier--choose-channel-type {
  max-width: 960px;
  width: 100%;

  .modal-panel {
    padding: 0;
    margin: 0;
    width: inherit;
    max-width: inherit;
    min-width: inherit;

    &--close {
      position: absolute;
      right: 20px;
      top: 12px;
    }

    &--content {
      padding: 0;
      margin: 0;
    }
  }
  .text-center {
    padding: 0;
  }
  .choose-channel {
    &--header-box {
      background: linear-gradient(
          -225deg,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(0, 0, 0, 0.2) 100%
        )
        rgb(76, 84, 210);
      background: $braveBrand;
      padding: 24px;
      border-radius: 8px 8px 0 0;

      h3,
      p {
        color: #fff;
        margin: 8px;
        padding: 0;
      }
    }
    &--body-box {
      padding: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow-y: auto;
      max-height: calc(100vh - 150px);
    }
    &--icon {
      margin: 0;
      height: 100%;
      width: 100%;
    }
  }

  .new-tag {
    position: absolute;
    top: 12px;
    right: 12px;
    background: $braveBrand;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    padding: 4px 12px;

    &::before {
      content: "New";
    }
  }

  // this is overwriting bootstrap card styles via specificity
  & .block-link--card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid $borderColor;
    border-radius: 12px;
    // new styles
    max-width: 260px;
    min-width: 210px;
    padding: 24px;
    margin: 12px;

    &:hover {
      box-shadow: 0 0 0 2px $braveBrand;
    }

    & .card-body {
      padding: 0;
      display: flex;
      flex-direction: column;
      min-width: 210px;

      & .icon-and-text {
        &--icon {
          margin: 20px;
          height: 80px;
          width: 80px;
        }
        &--text {
          text-align: center;
          color: $braveText-4;

          & h6 {
            color: $braveText-2;
          }
        }
      }
    }
  }
}

.referral-graph {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 16px;

  h4 {
    margin: auto 0;
    font-size: 20px;
    font-weight: 600;
    color: $braveText-2;
  }

  @media only screen and (max-width: 560px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.bat-logo {
  padding: 8px;
}

.uphold-panel {
  min-height: 336px;
}

.balance-panel {
  background: white;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: $defaultBoxShadow;
}

.bot-marg {
  margin: 0 0 24px;
}

p,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $braveText-2;
}

#cancel_edit_contact {
  padding: 8px;
}

.grayscale {
  filter: grayscale(100%);
}

.withheld-color {
  color: $braveGray-3;
}

.line {
  height: 8em;
  width: 1px;
  align-self: center;
  background: $braveGray-7;
}
.h-line {
  width: 80%;
  height: 1px;
  align-self: center;
  background: $braveGray-7;
}

.warning-icon svg {
  width: 16px;
  height: 16px;
}

.container-panel {
  background: white;
  border-radius: 8px;
  box-shadow: $defaultBoxShadow;
}

.fade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.u-avatar {
  margin: 4px;
  width: 42px;
  height: 42px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;

  svg {
    width: 40px;
    height: 40px;
    opacity: 0.8;
    filter: brightness(5) grayscale(1)
      drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
  }
}
