. = "Contributions processed:  #{PayoutReport.total_amount}"

hr

= hidden_field_tag id="piwikEvents", value=@events
= hidden_field_tag id="piwikDevicesDetection", value=@devices_detection

/ canvas id="piwikDevicesChart" width="400" height="100"
