.col-small-centered {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(10);
    @include make-col-offset(1);
  }
  @include media-breakpoint-up(md) {
    @include make-col(9);
    @include make-col-offset(1.5);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
    @include make-col-offset(2);
  }
  padding-left: 0;
  padding-right: 0;
  &--with-right-background {
    @include make-col(12);
    @include make-col-offset(0);
    @include media-breakpoint-up(lg) {
      @include make-col(6);
      @include make-col-offset(2);
    }
  }
}

.col-medium-centered {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(10);
    @include make-col-offset(1);
  }
  padding-left: 0;
  padding-right: 0;
}

.col-buttons {
  @include make-row();

  .col-buttons-half {
    @include make-col-ready();

    &:first-child {
      order: 2;
    }
    &:last-child {
      order: 1;
    }

    @include media-breakpoint-up(sm) {
      @include make-col(6);

      &:first-child {
        order: 1;
      }
      &:last-child {
        order: 2;
      }
    }
  }
}

.col-halves {
  @include make-row();

  .col-half {
    @include make-col-ready();
    @include make-col(6);
  }
}

.col-two-factor {
  &--content {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(9);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(8);
      @include make-col-offset(1);
    }
    text-align: left;
  }
  &--action {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(3);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(2);
    }

    p.icon {
      text-align: center;
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }
}
