.main-content {
  position: relative;
  min-width: 1200px;
  z-index: 0;
  padding-top: $spacer*2;
  padding-bottom: $spacer*2;
  background: #eaedef;
  background: $braveGradient-LegacyPink;
  min-height: calc(100vh - #{$braveNavbarHeight});
  overflow: auto;

  @media (max-width: 768px) {
    min-width: initial;
  }
}
