.main-content {
  position: relative;
  z-index: 0;
  padding-top: $spacer*2;
  padding-bottom: $spacer*2;
  background: #eaedef;
  background: $braveGradient-LegacyPink;
  min-height: calc(100vh - #{$braveNavbarHeight});
}
