.navbar {
  height: $braveNavbarHeight;
  z-index: 1;
}

.menu-container {
  width: 100%;
}

.brave-logo {
  padding-top: 11px;
  margin-left: -$spacer;
  max-width: 70vw;

  @include media-breakpoint-up(md) {
    margin-left: $spacer;
  }

  svg {
    max-width: 100%;
  }
}

.user-menu {
  display: inline-block;
  position: relative;
  margin-right: -$spacer;
  padding: 15px 15px 15px 45px;
  height: 50px;
  cursor: pointer;
  color: $braveGray-1;

  @include media-breakpoint-up(md) {
    margin-right: $spacer;
    padding-right: 50px;
  }

  > span {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline;
    }
  }

  .user-avatar {
    position: absolute;
    left: 0;
    top: 9px;
    width: 36px;
    height: 36px;
    border: solid 1px #d3d5d7;
    border-radius: 18px;
    overflow: hidden;

    svg {
      width: 34px;
      height: 34px;
    }
  }

  .user-lock {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .user-arrow {
    position: absolute;
    right: 0;
    top: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    transition: 0.3s;
  }

  .user-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border-radius: 4px;
    box-shadow: 2px 2px 0 0 rgba(47,48,50,0.15);

    .user-info {
      display: block;
      position: relative;
      padding: 30px 20px 30px 74px;
      color: $braveGray-1;
      text-decoration: none;

      .user-avatar {
        left: 20px;
        top: 50%;
        margin-top: -22px;
        width: 44px;
        height: 44px;
        border-radius: 22px;

        svg {
          width: 42px;
          height: 42px;
        }
      }

      .user-name {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 5px;
        white-space: nowrap;
      }

      .user-email {
        font-size: 14px;
        line-height: 1;
        color: $braveGray-4;
      }
    }

    ul.user-links {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        a {
          display: block;
          padding: 20px;
          text-align: center;
          border-top: solid 1px #e7ebee;
          font-size: 16px;
          line-height: 1;
          color: $braveGray-1;

          &:hover,
          &:focus {
            color: $link-color;
            text-decoration: none;
          }

          .user-links-lock {
            position: relative;
            padding: 0 25px;

            .user-links-lock-icon {
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -7.5px;
              width: 15px;
              height: 15px;
              line-height: 15px;
            }
          }
        }
        &:last-child {
          a {
            padding-bottom: 30px;
          }
        }
      }
    }
  }

  .user-menu-trigger {
    opacity: 0;
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &:checked {
      & ~ .user-arrow {
        transform: rotate(180deg);
      }
      & ~ .user-dropdown {
        display: block;
      }
    }
  }
}

.user-solo-button {
  margin-top: 5px;
}

.notifications .alert {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
