.navbar {
  height: $braveNavbarHeight;
  z-index: 1;
  padding: 0;

  @media screen and (max-width: 460px) {
    .brave-logo {
      position: absolute;
      top: 28px;
    }

    .brave-logo img {
      width: 250px;
      height: 100%;
    }
  }

  & .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
  }

  & .nav {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
  }
}

.user-menu {
  display: flex;
  position: relative;
  align-items: center;
  height: 80px;
  cursor: pointer;
  color: $braveGray-1;

  >span {
    display: none;
  }

  .user-avatar {
    margin: 4px;
    width: 36px;
    height: 36px;
    border: solid 1px #d3d5d7;
    border-radius: 18px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .user-lock {
    margin: 4px;
  }

  .user-arrow {
    margin: 4px;
    transition: 0.3s;
  }

  .user-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border-radius: 4px;
    box-shadow: 2px 2px 0 0 rgba(47, 48, 50, 0.15);

    .user-info {
      color: $braveGray-1;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      padding: 12px;
      align-items: center;

      .user-avatar {
        width: 44px;
        height: 44px;

        svg {
          width: 42px;
          height: 42px;
        }
      }

      .user-name {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 5px;
        white-space: nowrap;
      }

      .user-email {
        font-size: 14px;
        line-height: 1;
        color: $braveGray-4;
      }
    }

    ul.user-links {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        a {
          display: block;
          padding: 20px;
          text-align: center;
          border-top: solid 1px #e7ebee;
          font-size: 16px;
          line-height: 1;
          color: $braveGray-1;

          &:hover,
          &:focus {
            color: $link-color;
            text-decoration: none;
          }

          .user-links-lock {
            position: relative;
            padding: 0 25px;

            .user-links-lock-icon {
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -7.5px;
              width: 15px;
              height: 15px;
              line-height: 15px;
            }
          }
        }

        &:last-child {
          a {
            padding-bottom: 30px;
          }
        }
      }
    }
  }

  .user-menu-trigger {
    opacity: 0;
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &:checked {
      &~.user-arrow {
        transform: rotate(180deg);
      }

      &~.user-dropdown {
        display: block;
      }
    }
  }
}