.promo-content {
  &--background {
    min-height: 100vh;
    background: $bravePromo-LightBlue;
    padding-top: 90px;
    margin-top: -40px;
    padding-bottom: 40px;
    background-image: url(asset-path("bat-polygon-med.png"));
    background-position: center;
    background-size: cover;
    @include media-breakpoint-down(sm) {
      background-size: unset;
      margin-top: -65px;
    }
  }
}

.footer--promo {

  display: table;
  width: 100%;
  background: $bravePromo-LightBlue;
  padding: 0px;

  .footer--promo-item {
    width: 50%;
    float: left;
    font-size: 13px;
    padding: 10px;
    a {
      color: white;
      opacity: .7;
    }

    &-tos {
      text-align: right;
    }
  }
}