.promo-content {
  &--background {
    min-height: 100vh;
    background: $bravePromo-LightBlue;
    padding-top: 90px;
    margin-top: -40px;
    padding-bottom: 40px;
    background-image: url(asset-path("bat-polygon-med.png"));
    background-position: center;
    background-size: cover;
    @include media-breakpoint-down(sm) {
      background-size: unset;
      background-attachment: fixed;
      margin-top: -65px;
    }
  }
}

.footer--promo {
  display: table;
  width: 100%;
  color: $bravePromo-DarkBlue;
  font-size: 12px;
  text-align: center;
  padding: 0px;

  &-message {
    padding: 20px 75px 0px 75px;
    @include media-breakpoint-down(sm){
      padding: 20px 30px 0px 30px;
    }

    &-tos2{
      a {
        color: white;
        opacity: .6;
      }
      padding: 20px 75px 0px 75px;
      font-size: 11px;
      @include media-breakpoint-down(sm){
        padding: 20px 30px 0px 30px;
      }    
    }
  }

  .footer--promo-item {
    width: 50%;
    float: left;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1px;

    a {
      color: white;
      opacity: .9;
    }

    &-dashboard {
      text-align: right;
      border-right: solid;
      border-width: 1px;
    }

    &-tos {
      text-align: left;
      border-left: solid;
      border-width: 1px;
    }
  }

  .footer--promo-divider {

  }
}