.promo-content {
  &--background {
    min-height: 100vh;
    background: $bravePromo-LightBlue;
    padding-top: 90px;
    margin-top: -40px;
    padding-bottom: 40px;
    background-image: url(asset-path("bat-polygon-med.png"));
    background-position: center;
    background-size: cover;
    @include media-breakpoint-down(sm) {
      background-size: unset;
      margin-top: -65px;
    }
  }
}

.nav--promo {
  // @include media-breakpoint-down(sm){
  //   display: block;
  //   text-align: center;
  //   padding-right: 30px;
  // }
}