.crypto-wallet-for-channel {
  min-width: 300px;

  .crypto-wallet-group {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .crypto-wallet-dropdown {
    padding: 3px;
    padding-left: 30px;

    background-repeat: no-repeat;
    background-position: bottom 12px left 10px;
    background-size: 20px;
    border: 1px solid rgba(199 199 204 100%);
    border-radius: 8px;
  }

  .crypto-wallet-dropdown-eth {
    background-image: url('../../public/icons/eth-color.svg');
  }

  .crypto-wallet-dropdown-sol {
    background-image: url('../../public/icons/sol-color.svg');
  }

  .menu {
    padding: 5px;
  }

  .address-option {
    padding: 12px;
  }

  .dropdown-indicator {
    color: #666D89;
  }

  .indicator-separator {
    display: none;
  }

  .new-wallet-button {
    cursor: pointer;

    padding: 10px;
    padding-top: 15px;

    font-size: 0.9em;
    font-weight: bold;
    color: var(--leo-color-text-tertiary);
    text-align: center;

    border-top: 1px solid #E8E9EE;
  }

  .trash-icon {
    float: right;
    width: 18px;
    height: 24px;
    margin-top: -2px;
  }
}

.channel-card-icon {
  --leo-icon-width: 18px;
}

.channel-verification-icon {
  --leo-icon-width: 20px;
}

.privacy-header {
  font-family: var(--font-poppins);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
}

.privacy-text {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.privacy-button-container {
  text-align: center;
}

.add-channel-card {
  padding: var(--leo-spacing-xl);
  border: 1px solid var(--leo-color-divider-subtle);
  border-radius: var(--leo-radius-xl);
}

.add-channel-card:hover {
  border-color: var(--leo-color-primitive-primary-30);
  box-shadow: 4px 4px 0 0 rgba(124 145 255 / 100%);
}
