.crypto-contributions {
	background-image: url('../../public/images/crypto_contributions_background.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 235px;
	margin: 8px;
	padding: 16px;
	border: 1px solid rgb(255 209 207);
	border-radius: 8px;
}

.nav-background {
  background: var(--leo-color-white);
}

.theme-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--leo-spacing-m);
}

.theme {
  padding-left: var(--leo-spacing-m);
  color: var(--leo-color-text-secondary);
  font: var(--leo-font-components-navbutton);
}
