:root {
  /* Brave Leo overrides for variables that use Font-Family */
  --font-poppins: 'Poppins', -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --leo-font-primary-heading-display1: var(--leo-font-heading-display1);
  --leo-font-primary-heading-display2: var(--leo-font-heading-display2);
  --leo-font-primary-heading-h1: var(--leo-font-heading-h1);
  --leo-font-primary-heading-h2: var(--leo-font-heading-h2);
  --leo-font-primary-heading-h3: var(--leo-font-heading-h3);
  --leo-font-primary-heading-h4: var(--leo-font-heading-h4);
  --leo-font-primary-large-regular: var(--leo-font-browser-large-regular);
  --leo-font-primary-large-semibold: var(--leo-font-browser-large-semibold);
  --leo-font-primary-default-regular: var(--leo-font-browser-default-regular);
  --leo-font-primary-default-semibold: var(--leo-font-browser-default-semibold);
  --leo-font-primary-small-regular: var(--leo-font-browser-small-regular);
  --leo-font-primary-small-semibold: var(--leo-font-browser-small-semibold);
  --leo-font-primary-x-small-regular: var(--leo-font-browser-x-small-regular);
  --leo-font-primary-x-small-semibold: var(--leo-font-browser-x-small-semibold);
  --leo-font-browser-x-small-semibold: 600 12px/14.4px 'Inter';
  --leo-font-browser-x-small-regular: 400 12px/14.4px 'Inter';
  --leo-font-browser-small-semibold: 600 13px/15.6px 'Inter';
  --leo-font-browser-small-regular: 400 13px/15.6px 'Inter';
  --leo-font-browser-default-semibold: 600 14px/16.8px 'Inter';
  --leo-font-browser-default-regular: 400 14px/16.8px 'Inter';
  --leo-font-browser-large-semibold: 600 16px/19.2px 'Inter';
  --leo-font-browser-large-regular: 400 16px/19.2px 'Inter';
  --leo-font-x-small-link: 400 11px/18px 'Inter';
  --leo-font-x-small-semibold: 600 11px/18px 'Inter';
  --leo-font-x-small-regular: 400 11px/18px 'Inter';
  --leo-font-small-link: 400 12px/20px 'Inter';
  --leo-font-small-semibold: 600 12px/20px 'Inter';
  --leo-font-small-regular: 400 12px/20px 'Inter';
  --leo-font-default-link: 400 14px/22px 'Inter';
  --leo-font-default-semibold: 600 14px/22px 'Inter';
  --leo-font-default-regular: 400 14px/22px 'Inter';
  --leo-font-large-link: 400 16px/26px 'Inter';
  --leo-font-large-semibold: 600 16px/26px 'Inter';
  --leo-font-large-regular: 400 16px/26px 'Inter';
  --leo-font-components-tableheader: 500 13px/15.6px 'Inter';
  --leo-font-components-label: 700 10px/12px 'Inter';
  --leo-typography-components-label-font-weight: 700;

  /* this needs to be fixed in Leo */
  --leo-color-text-primary: rgb(13 15 20);
  --leo-button-radius: 12px;
  --leo-control-radius: 12px;
  --radius: 12px;
  --leo-dialog-width: 720px;
}

/* this needs to be fixed in Leo */
[data-theme="light"] {
  --leo-color-text-primary: rgb(13 15 20);
}

@media (prefers-color-scheme: light) {
  :root {
    --leo-color-text-primary: rgb(13 15 20);
  }
}

[data-theme="dark"] {
  --leo-color-text-primary: rgb(246 247 248);
}

@media (prefers-color-scheme: dark) {
  :root {
    --leo-color-text-primary: rgb(246 247 248);
  }
}