/ Sent via eyeshade POST publishers/{id}/notifications endpoint when admins
/ deem the LegalForm invalid.
- content_for(:title) do
  h3= I18n.t("notification_mailer.publisher_form_retry.title")
  
.notice= I18n.t("publisher_mailer.welcome.private_email_notice")

p= I18n.t("notification_mailer.publisher_form_retry.intro", brave_publisher_id: @publisher.brave_publisher_id)

- if @message
  p= simple_format(@message)

p= I18n.t("notification_mailer.publisher_form_retry.prompt")

h4= "#{I18n.t("publisher_mailer.shared.private_access_link")}:"
p= link_to(@private_reauth_url, @private_reauth_url)

p.hint
  span.attribute= "#{I18n.t("publisher_mailer.shared.contact_help")}:"
  = mail_to(Rails.application.secrets[:support_email])
