// $btn-primary-bg: linear-gradient($braveLightOrange, $braveOrange);
// $btn-primary-border: $braveLightOrange transparent $braveOrange;
// $btn-primary-border:             darken($btn-primary-bg, 5%) !default;
// $btn-primary-color: #fff

.btn
  &.btn-primary
    background: #ff4d3f
    border: none
    box-shadow: 2px 2px 100px rgba(255, 255, 255, 0.5)
    color: #fff
    height: 40px
    border-radius: 20px
    font-size: 16px
    font-weight: 600
    letter-spacing: 0.02em
    a
      color: #ff4d3f
      text-decoration-line: none
    &:hover
      background: #fc624e
    &:active
      background: #e22a1f

  &.btn-secondary
    background: white
    border: 1px solid
    box-shadow: 2px 2px 100px rgba(255, 255, 255, 0.5)
    color: #d3d5d7
    height: 40px
    border-radius: 20px
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.02em
    a
      color: #d3d5d7
      text-decoration-line: none
    &:hover
      border: 2px solid #aaa

  &.btn-tertiary
    background: white
    border: 1px solid #ddd
    color: #555

    &:hover
      border: 1px solid #aaa

  &.btn-download
    margin-top: 10px

  &.btn-center
    margin  : 5px auto
    display : block

    // &:hover {
    //   color: $color;
    //   background-color: darken($background, 10%);
    //       border-color: darken($border, 12%);
    // }
    // &:active,
    // &.active,
    // .open > &.dropdown-toggle {
    //   color: $color;
    //   background-color: darken($background, 10%);
    //       border-color: darken($border, 12%);
    //
    //   &:hover,
    //   &:focus,
    //   &.focus {
    //     color: $color;
    //     background-color: darken($background, 17%);
    //         border-color: darken($border, 25%);
    //   }
    // }
