#cssload-container {
  display: none;
  position: fixed;
  z-index: 999;
  height: 150px;
  width: 150px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ddd;
  opacity: 0.6;
  border-radius: 10px;
}

.cssload-container{
  display: block;
  margin: 55px auto;
  width: 59px;
}

.cssload-loading i{
  width: 29px;
  height: 29px;
  display: inline-block;
  background: rgb(255,89,84);
  border-radius: 50%;
}
.cssload-loading i:nth-child(1){
  animation:cssload-loading-ani1 1.0s ease-in-out infinite;
  -o-animation:cssload-loading-ani1 1.0s ease-in-out infinite;
  -ms-animation:cssload-loading-ani1 1.0s ease-in-out infinite;
  -webkit-animation:cssload-loading-ani1 1.0s ease-in-out infinite;
  -moz-animation:cssload-loading-ani1 1.0s ease-in-out infinite;

}
.cssload-loading i:nth-child(2){
  background: rgb(0,168,206);
  margin-left: -6px;
  animation:cssload-loading-ani1 1.0s ease-in-out 0.5s infinite;
  -o-animation:cssload-loading-ani1 1.0s ease-in-out 0.5s infinite;
  -ms-animation:cssload-loading-ani1 1.0s ease-in-out 0.5s infinite;
  -webkit-animation:cssload-loading-ani1 1.0s ease-in-out 0.5s infinite;
  -moz-animation:cssload-loading-ani1 1.0s ease-in-out 0.5s infinite;
}


@keyframes cssload-loading-ani1{
  70%{
    transform:scale(0.5);
  }
}

@-o-keyframes cssload-loading-ani1{
  70%{
    -o-transform:scale(0.5);
  }
}

@-ms-keyframes cssload-loading-ani1{
  70%{
    -ms-transform:scale(0.5);
  }
}

@-webkit-keyframes cssload-loading-ani1{
  70%{
    -webkit-transform:scale(0.5);
  }
}

@-moz-keyframes cssload-loading-ani1{
  70%{
    -moz-transform:scale(0.5);
  }
}