.usb-with-lines.animated {
  .cycle-1 {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: cycle-1;
  }
  .cycle-2 {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: cycle-2;
  }
  .cycle-3 {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: cycle-3;
  }
}

@keyframes cycle-1 {
  0% {
    opacity: 1;
  }
  31% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cycle-2 {
  0% {
    opacity: 0;
  }
  31% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  64% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cycle-3 {
  0% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
