= link_to( \
  "+ #{t "shared.instant_donation"}", \
  "#", \
  data: { "js-confirm-with-modal": "instant-donation-selection" }, \
  class: 'btn btn-secondary btn-highlight' \
)

script id="instant-donation-selection" type="text/html"
  = render "instant_donation_modal"
