.instant-donation-container id="instant-donation-container"
  .container id=current_publisher.id
    .translations headline=t(".headline") intro=t(".intro")
        .react-container id="react-container"
