.div.progress-train
  = render :partial => 'progress_item',
          :locals => { fill: progress[:info],
                       text: t('publishers.progress.contact_info'),
                       include_connector: false }
  = render :partial => 'progress_item',
          :locals => { fill: progress[:verify],
                       text: t('publishers.progress.verify_site'),
                       include_connector: true }
  = render :partial => 'progress_item',
          :locals => { fill: progress[:wallet],
                       text: t('publishers.progress.create_wallet'),
                       include_connector: true }
