p Brave’s Publisher Ads is currently in development and being tested with select partners. All publishers are eligible to apply. To do so, select the option to “Allow Brave to serve ads on my web site” when registering a new web site channel on creators.brave.com. The option is also available on the Creators dashboard.

p [screenshot]

p There is no obligation to sign up, and Brave’s Publisher Ads are available on an opt-in only basis.

p Publishers who wish to cancel Brave’s Publisher Ads can revoke their consent at any time by xlogging into the Creators web site and de-selecting the option to “Allow Brave to serve ads on my web site.”

p Publisher Ads will be available more widely soon. So, please keep an eye out for more information as it becomes available.
