@import "colors";

/* header */
#header {
  background: #32323a;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/*sidebar navigation*/
#sidebar {
  display: block;
  width: 240px;
  height: 100%;
  position: fixed;
  background: #28282e;
  margin-top: 46px;

  li {
    position: relative;
  }
  ul {
    position: relative;
    li {
      ul.sub {
        display: none;
      }
    }
  }

  .sub-menu {
    li {
      list-style: none;
    }
    .sub li a {
      padding-left: 46px;
    }
  }

  #sidebar-toggle {
    padding: 14px 20px 15px 25px;
  }

  ul.sidebar-menu,
  ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
    li {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);

      .sub-menu {
        line-height: 15px;
      }

      .sub li {
        border-bottom: none;
      }

      a {
        display: block;
        font-size: 14px;
        padding: 13px 0 13px 25px;
        color: #aeb2b7;
        outline: none;
        i {
          font-size: 15px;
          padding-right: 6px;
        }
      }
      p {
        display: block;
        font-size: 14px;
        padding: 13px 0 0 25px;
        color: #aeb2b7;
        outline: none;
        i {
          font-size: 15px;
          padding-right: 6px;
        }
      }
      a:hover,
      a:focus,
      li.active,
      a.active {
        background: #202025;
        color: #f0f0f0;
        display: block;
        text-decoration: none;
      }
    }
  }
}

#wrapper {
  display: inline-block;
  padding: 25px 100px;
  width: 100%;
  margin-top: 46px;
}

.brand {
  background: #1fb5ad;
  float: left;
  width: 240px;
  height: 80px;
  position: relative;
}
a.logo {
  font-size: 21px;
  color: #2e2e2e;
  float: left;
  margin: 20px 0 0 25px;
  text-transform: uppercase;
}
a.logo:hover,
a.logo:focus {
  text-decoration: none;
  outline: none;
}
a.logo span {
  color: #ff6c60;
}

#main-content {
  margin-left: 240px;

  /* show */
  #publisher {
    .admin-header {
      text-align: left;
    }

    .rounded-box {
      border-style: solid;
      border-width: 1px;
      border-color: lightgray;
      border-radius: 5px;
      padding: 20px;
      margin: 10px 0px;
    }

    .split-row-container {
      display: flex;
    }

    .split-row {
      flex: 1;
    }
    .db-info-row {
      display: flex;
      .db-field {
        margin-right: 5px;
        font-weight: bold;
      }
      .db-value.token {
        display: flex;
        font-size: 11px;
        align-items: center;
      }
    }

    hr {
      margin: 30px 0px;
    }

    .payout-report-status-section {
      margin-top: 10px;
    }

    #statement-section {
      .statements-table {
        max-width: 450px;
        .header {
          font-weight: bold;
          display: flex;
        }
        .statement {
          display: flex;
        }
        .created-at {
          flex: 1;
        }
        .period {
          flex: 1;
        }
        .status {
          flex: 1;
        }
        .download {
          margin-left: 10px;
        }
      }
      #generate_statement {
        margin-left: 10px;
      }
    }

    #channels-section {
      .channel {
        border-width: 1px;
        display: flex;
        border-style: solid;
        border-color: lightgray;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
        .channel-link {
          flex: 1;
          display: flex;
          align-items: center;
        }
        .channel-info {
          flex: 2;
          hr {
            margin: 10px;
          }
          .admin-approval {
            display: flex;
            justify-content: space-between;

            .admin-approval-warning {
              color: red;
            }
            .admin-approval-success {
              color: green;
            }
          }
        }
      }
    }
    #notes-section {
      .note {
        hr {
          margin: 10px 0px;
        }
        .note-header {
          display: flex;
          .box {
            flex: 1;
          }
        }
      }
      #create-note {
        #create-note-content {
          min-width: 100%;
          min-height: 150px;
        }
      }
    }
  }
}

// Pagination
.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #dfdfe8;
  text-decoration: none;
  color: #131525;
}
.pagination a:hover,
.pagination a:active {
  border: 1px solid #131525;
}
.pagination em.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #dfdfe8;
  font-weight: bold;
  font-style: normal;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

.user-avatar {
  margin: 4px;
  width: 42px;
  height: 42px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;

  svg {
    width: 40px;
    height: 40px;
    opacity: 0.8;
    filter: brightness(5) grayscale(1)
      drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
  }
}

.u-avatar {
  @extend .user-avatar;
}
.screenshot {
  width: 100px;
}

.user-avatar-dropdown {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  height: 27px;
  width: 27px;
  margin-right: 8px;

  img {
    width: 25px;
    height: 25px;
    opacity: 0.8;
    filter: brightness(5) grayscale(1)
      drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
  }
}

// Overwrite the dropdown
.tribute-container {
  border-radius: 5px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  background: white;
  border: 1px solid #999;
}

.tribute-container ul {
  background: white !important;
  margin-top: 0 !important;
}
.tribute-container li {
  border-bottom: 1px solid #e9e9e9;
}

#assignee {
  cursor: pointer;
}

#assignee:hover * {
  color: $braveBrand;
}

.private-message {
  background: #f3f3f6;
}

#dynamic-table > tbody > tr > td {
  vertical-align: middle;
}

.popup {
  position: absolute;
}

.search_thing {
  width: 0;
  max-width: 180px;
  transition: width 0.1s;
  overflow: hidden;
}
.case-table {
  max-width: 25em !important;
}

.accordion {
  .panel {
    position: relative;
    width: 100%;
    color: #212222;
    overflow: hidden;
  }
  #panel_id {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .panel > label {
    position: relative;
    display: block;
    padding-left: 2em;
    min-height: 30px;
    cursor: pointer;
    margin-bottom: 0;
  }

  .panel-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.25s;
    -o-transition: max-height 0.25s;
    transition: max-height 0.25s;
  }

  #panel_id:checked ~ .panel-content {
    max-height: 50em;
  }
  #panel_id:not(:checked) ~ .panel-content {
    border-style: none;
  }

  /* Icon */
  .panel > label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -2px;
    display: block;
    height: 30px;
    width: 30px;
    background-image: url(asset-path("select-down-arrow.svg"));
    transform: rotate(270deg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 5px;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
  }
  .panel > input[type="checkbox"]:checked + label::before {
    transform: rotate(360deg);
  }

  /* question and answer content styles
     define styles for the questions and answers here
  */
  .question,
  .answer {
    p {
      line-height: 1.9em;
    }
  }
}

.search-icon {
  left: 35px;
  position: absolute;
}

.shadow-md {
  box-shadow: $defaultBoxShadow;
}
