/* header */
#header {
  background:#32323a;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}


/*sidebar navigation*/
#sidebar {
  display:block;
  width:240px;
  height:100%;
  position:fixed;
  background:#28282e;
  margin-top: 46px;

  li {
    position: relative;
  }
  ul {
    position: relative;
    li {
      ul.sub {
        display:none;
      }
    }
  }

  .sub-menu {
    .sub li a {
      padding-left:46px;
    }
  }

  #sidebar-toggle {
    padding: 14px 20px 15px 25px;
  }

  ul.sidebar-menu,ul.sidebar-menu li ul.sub {
    margin:-2px 0 0;
    padding:0;
    li {
      margin-bottom:0;
      margin-left:0;
      margin-right:0;
      border-bottom:1px solid rgba(255,255,255,0.05);

      .sub-menu {
        line-height:15px;
      }

      .sub li {
        border-bottom:none;
      }

      a {
        display:block;
        font-size:14px;
        padding:13px 0 13px 25px;
        color:#aeb2b7;
        outline:none;
        i {
          font-size:15px;
          padding-right:6px;
        }
      }
      a:hover, a:focus, li.active, a.active {
        background:#202025;
        color:#f0f0f0;
        display:block;
        text-decoration:none;
      }
    }
  }
}

#wrapper {
  display:inline-block;
  padding: 25px 100px;
  width:100%;
  margin-top: 46px;
}

.brand {
  background:#1fb5ad;
  float:left;
  width:240px;
  height:80px;
  position:relative;
}
a.logo {
  font-size:21px;
  color:#2e2e2e;
  float:left;
  margin:20px 0 0 25px;
  text-transform:uppercase;
}
a.logo:hover,a.logo:focus {
  text-decoration:none;
  outline:none;
}
a.logo span {
  color: #FF6C60;
}

#main-content {
  margin-left:240px;

  /* show */
  #publisher {
    .admin-header {
      text-align: left;
    }

    .rounded-box {
      border-width: 1px;
      border-style: solid;
      border-color: lightgray;
      border-radius: 5px;
      padding: 20px;
      margin: 10px 0px;
    }

    .split-row-container {
      display: flex;
    }

    .split-row {
      flex: 1;
    }
    .db-info-row {
      display: flex;
      .db-field {
        margin-right: 5px;
        font-weight: bold;
      }
      .db-value.token {
        display: flex;
        font-size: 11px;
        align-items: center;
      }
    }

    hr {
      margin: 30px 0px;
    }

    #statement-section {
      .statements-table {
        max-width: 450px;
        .header {
          font-weight: bold;
          display: flex;
        }
        .statement {
          display: flex;
        }
        .created-at {
          flex: 1;
        }
        .period {
          flex: 1;
        }
        .status {
          flex: 1;
        }
        .download {
          margin-left: 10px;
        }
      }
      #generate_statement {
        margin-left: 10px;
      }
    }

    #channels-section {
      .channel {
        border-width: 1px;
        display: flex;
        border-style: solid;
        border-color: lightgray;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
        .channel-link {
          flex: 1;
          display: flex;
          align-items: center;
        }
        .channel-info {
          flex: 2;
          hr {
            margin: 10px
          }
          .admin-approval {
            display: flex;
            justify-content: space-between;

            .admin-approval-warning {
              color: red;
            }
            .admin-approval-success {
              color: green;
            }

          }
        }
      }
    }
    #notes-section {
      .note {
        hr {
          margin: 10px 0px;
        }
        .note-header {
          display: flex;
          .box {
            flex: 1;
          }
        }
      }
      #create-note {
        #create-note-content {
          min-width: 100%;
          min-height: 150px;
        }
      }
    }
  }
}
