@import "colors";

// Heading and button row
.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}

.action-group {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 32px;
  align-items: center;
}

// Bootstrap overrides. Could be refined
.btn-default {
  color: $braveGray-2 !important;
  border: 1px solid $braveGray-7 !important;
  margin: 0 8px;
}

.btn-primary {
  margin: 0 4px;
}

/* header */
#header {
  background: $braveGray-1;
  top: 0;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 1;

  & a {
    color: white;
    font-size: 14px;
  }
}

#container {
  display: flex;
  width: 100%;
  height: 100%;
}

/*sidebar navigation*/
#sidebar {
  display: flex;
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: $braveGray-2;
  margin: 60px 0 0 0;
  overflow: auto;

  .sidebar-menu {
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 100%;

    & a {
      color: #aeb2b7;
      padding: 12px 24px;
      display: flex;
    }

    & li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    a:hover,
    a:focus,
    li.active,
    a.active {
      background: $braveGray-1;
      color: $braveGray-10;
      text-decoration: none;
    }

    & .sub-menu {
      margin: 0;
      padding: 0;
      border: none;

      & a {
        padding: 12px 0 12px 40px;
      }

      & li {
        border: none;
      }
    }
  }
}

.brand {
  background: #1fb5ad;
  float: left;
  width: 240px;
  height: 80px;
  position: relative;
}
a.logo {
  font-size: 21px;
  color: #2e2e2e;
  float: left;
  margin: 20px 0 0 25px;
  text-transform: uppercase;
}
a.logo:hover,
a.logo:focus {
  text-decoration: none;
  outline: none;
}
a.logo span {
  color: #ff6c60;
}

#wrapper {
  display: inline-block;
  width: 100%;
}

#main-content {
  margin: 90px 32px 32px 280px;
  width: 100%;

  /* show */
  #publisher {
    .admin-header {
      text-align: left;
    }

    .rounded-box {
      border-style: solid;
      border-width: 1px;
      border-color: lightgray;
      border-radius: 5px;
      padding: 20px;
      margin: 10px 0px;
    }

    .split-row-container {
      display: flex;
    }

    .split-row {
      flex: 1;
    }
    .db-info-row {
      display: flex;
      .db-field {
        margin-right: 5px;
        font-weight: bold;
      }
      .db-value.token {
        display: flex;
        font-size: 11px;
        align-items: center;
      }
    }

    hr {
      margin: 30px 0px;
    }

    .payout-report-status-section {
      margin-top: 10px;
    }

    #statement-section {
      .statements-table {
        max-width: 450px;
        .header {
          font-weight: bold;
          display: flex;
        }
        .statement {
          display: flex;
        }
        .created-at {
          flex: 1;
        }
        .period {
          flex: 1;
        }
        .status {
          flex: 1;
        }
        .download {
          margin-left: 10px;
        }
      }
      #generate_statement {
        margin-left: 10px;
      }
    }

    #channels-section {
      .channel {
        border-width: 1px;
        display: flex;
        border-style: solid;
        border-color: lightgray;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
        .channel-link {
          flex: 1;
          display: flex;
          align-items: center;
        }
        .channel-info {
          flex: 2;
          hr {
            margin: 10px;
          }
          .admin-approval {
            display: flex;
            justify-content: space-between;

            .admin-approval-warning {
              color: red;
            }
            .admin-approval-success {
              color: green;
            }
          }
        }
      }
    }
    #notes-section {
      .note {
        hr {
          margin: 10px 0px;
        }
        .note-header {
          display: flex;
          .box {
            flex: 1;
          }
        }
      }
      #create-note {
        #create-note-content {
          min-width: 100%;
          min-height: 150px;
        }
      }
    }
  }
}

// Pagination
.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #dfdfe8;
  text-decoration: none;
  color: #131525;
}
.pagination a:hover,
.pagination a:active {
  border: 1px solid #131525;
}
.pagination em.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #dfdfe8;
  font-weight: bold;
  font-style: normal;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

.user-avatar {
  margin: 4px;
  width: 42px;
  height: 42px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;

  svg {
    width: 40px;
    height: 40px;
    opacity: 0.8;
    filter: brightness(5) grayscale(1)
      drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
  }
}

.u-avatar {
  @extend .user-avatar;
}
.screenshot {
  width: 100px;
}

.user-avatar-dropdown {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  height: 27px;
  width: 27px;
  margin-right: 8px;

  img {
    width: 25px;
    height: 25px;
    opacity: 0.8;
    filter: brightness(5) grayscale(1)
      drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
  }
}

// Overwrite the dropdown
.tribute-container {
  border-radius: 5px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  background: white;
  border: 1px solid #999;
}

.tribute-container ul {
  background: white !important;
  margin-top: 0 !important;
}
.tribute-container li {
  border-bottom: 1px solid #e9e9e9;
}

#assignee {
  cursor: pointer;
}

#assignee:hover * {
  color: $braveBrand;
}

.private-message {
  background: #f3f3f6;
}

#dynamic-table > tbody > tr > td {
  vertical-align: middle;
}

.popup {
  position: absolute;
}

.search_thing {
  width: 0;
  max-width: 180px;
  transition: width 0.1s;
  overflow: hidden;
}
.case-table {
  max-width: 25em !important;
}

.accordion {
  .panel {
    position: relative;
    width: 100%;
    color: #212222;
    overflow: hidden;
  }
  #panel_id {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .panel > label {
    position: relative;
    display: block;
    padding-left: 2em;
    min-height: 30px;
    cursor: pointer;
    margin-bottom: 0;
  }

  .panel-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.25s;
    -o-transition: max-height 0.25s;
    transition: max-height 0.25s;
  }

  #panel_id:checked ~ .panel-content {
    max-height: 50em;
  }
  #panel_id:not(:checked) ~ .panel-content {
    border-style: none;
  }

  /* Icon */
  .panel > label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -2px;
    display: block;
    height: 30px;
    width: 30px;
    background-image: url(asset-path("select-down-arrow.svg"));
    transform: rotate(270deg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 5px;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
  }
  .panel > input[type="checkbox"]:checked + label::before {
    transform: rotate(360deg);
  }

  /* question and answer content styles
     define styles for the questions and answers here
  */
  .question,
  .answer {
    p {
      line-height: 1.9em;
    }
  }
}

.search-icon {
  left: 35px;
  position: absolute;
}

.checkbox_1 {
  height: 70px;
  display: inline-flex;
  align-items: center;
  opacity: 0.9;
  cursor: pointer;
  position: relative;
}

.checkbox_1 > input {
  width: 21px;
  height: 21px;

  appearance: none;

  /* custom styling */
  background-color: #fff;
  border: 2px solid $braveGray-8;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  transition-duration: 0.1s;
}

.checkbox_1 > input:checked {
  border: 3px solid #4c54d2;
  background-color: #f3f3f6;
}

/* style checkmark symbol */
.checkbox_1 > input:checked + span::before {
  color: #343546;
  content: "\2713";

  text-align: center;

  display: block;
  position: absolute;
  left: 16px;
  top: 22px;
}

.checkbox_1 > input:active {
  border: 2px solid #7e47a8;
}

.checkbox_1 > input:focus + label::before {
  outline: #fb542b solid 1px;
  box-shadow: 0 0px 8px #7e47a8;
}

.reply:hover {
  background: $braveBrand-Light;
  cursor: pointer;
  * {
    color: $braveGray-10 !important;
  }
}

#replySection {
  left: 300px;
  top: 0;
  position: absolute;
  z-index: 999999999;
}
