/ Sent when user requests a login link via Publishers #create_auth_token
- content_for(:title) do
  h3= t ".subject"

p.salutation= t "partner_mailer.shared.salutation", name: @publisher.name || name_from_email(@publisher.email)

p= t ".body_html", date: @invoice_file.invoice.human_date

div.btn-container= link_to(t(".button"), @private_reauth_url, class: "btn-primary btn-login")

.notice= t "shared.warning_note_html"
