// .scss for multiline attributes

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: font-url("open-sans-regular/open-sans-v14-latin-regular.eot");
  src: font-url("open-sans-regular/open-sans-v14-latin-regular.eot?iefix") format("embedded-opentype"),
    font-url("open-sans-regular/open-sans-v14-latin-regular.ttf") format("truetype"),
    font-url("open-sans-regular/open-sans-v14-latin-regular.woff") format("woff"),
    font-url("open-sans-regular/open-sans-v14-latin-regular.svg") format("svg");
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  src: font-url("open-sans-bold/open-sans-v14-latin-700.eot");
  src: font-url("open-sans-bold/open-sans-v14-latin-700.eot?iefix") format("embedded-opentype"),
    font-url("open-sans-bold/open-sans-v14-latin-700.ttf") format("truetype"),
    font-url("open-sans-bold/open-sans-v14-latin-700.woff") format("woff"),
    font-url("open-sans-bold/open-sans-v14-latin-700.svg") format("svg");
}

$font-family-sans-serif: "Open Sans", Arial, sans-serif;
$font-size-base: 16px;
$font-size-h3: ceil(($font-size-base * 1.5));
$font-size-smaller: ceil(($font-size-base * 0.70));
$line-height-base: 1.4;
$font-size-jumbotron: ceil(($font-size-base * 1.35));
