.public-channel-page data-props={ featureFlags: current_publisher.feature_flags, siteBanner: @site_banner, cryptoAddresses: @crypto_addresses, cryptoConstants: @crypto_constants, url: @url }.to_json
    = append_javascript_pack_tag('PublicChannelPage')
