.public-channel-page data-props={ featureFlags: current_publisher.feature_flags, channel: @channel, siteBanner: @site_banner, cryptoAddresses: @crypto_addresses }.to_json
    = append_javascript_pack_tag('PublicChannelPage')
