$braveBrand-Dark: #dd1c0d;
$braveBrand: #ff3f3f;
$braveBrand-Light: #ff8e78;
$braveBrand-Ghost: #ffc8b3;

$braveAction-Dark: #00a1c0;
$braveAction: #00bcd6;
$braveAction-Light: #85dde9;
$braveAction-Ghost: #bcf0f7;

$braveAccent-Dark: #5c58c2;
$braveAccent: #7d7bdc;
$braveAccent-Light: #9997ea;
$braveAccent-Ghost: #bcc0f6;

$braveSuccess-Dark: #009683;
$braveSuccess: #02b999;
$braveSuccess-Light: #6cdac1;
$braveSuccess-Ghost: #9bf0e1;

$braveFailure-Dark: #c51840;
$braveFailure: #e2052a;
$braveFailure-Light: #ff5874;
$braveFailure-Ghost: #ff9aab;

$braveInfo-Background: #eefbfd;
$braveInfo-Foreground: #00bcd6;
$braveInfo-Border: #e7ebee;

$braveError-Background: #feedf0;
$braveError-Foreground: #dd0529;

// Promo Colors
$bravePromo-LightBlue: #00BCD6;
$bravePromo-DarkBlue: #006192;
$bravePromo-TwitterBlue: #1DA1F2;
$bravePromo-FacebookBlue: #3B5998;

$braveGray-1: #222326;
$braveGray-2: #484b4e;
$braveGray-3: #606467;
$braveGray-4: #818589;
$braveGray-5: #999ea2;
$braveGray-6: #a7acb2;
$braveGray-7: #cdd1d5;
$braveGray-8: #dbdfe3;
$braveGray-9: #e7ebee;
$braveGray-10: #f7f8f9;

$braveWarning-Background: #FFF8D2;
$braveWarning-Foreground: $braveGray-1;

$braveOrange: #FF7A1D;
$braveRed: #E2052A;

$braveText-1: $braveGray-1;
$braveText-2: $braveGray-2;
$braveText-3: $braveGray-3;
$braveText-4: $braveGray-4;

$braveBackground-1: $braveGray-8;
$braveBackground-2: $braveGray-9;
$braveBackground-3: $braveGray-10;

$braveDivider-1: $braveGray-8;
$braveDivider-2: $braveGray-9;

$braveGradient-LegacyPink: linear-gradient(165deg, #e9eaef, #e0e3e6, #d6d6d6, #e7ccc9, #f7ada7, #d68588, #ca3884, #c7297b);
$braveGradient-Pink: linear-gradient(to right, #dce6f5 0%, #dce6f5 15%, #d9d8e6 28%, #d9d8e6 39%, #e7ccc9 49%, #d7ada7 61%, #d68588 74%, #ca3884 86%, #c7297b 100%);
$braveGradient-Purple: linear-gradient(to right, $braveSuccess-Ghost, #7d78df);

$highlightBlue: #37A9FD;
$chromePrimary: #F3F3F3;
$chromeSecondary: #d3d3d3;

$veryLightGray: rgb(250, 250, 250);
$lightGray: rgb(236, 236, 236);
$gray: rgb(153, 153, 153);
$mediumGray: rgb(101, 101, 101);
$darkGray: rgb(68, 68, 68);

$white25: rgba(255, 255, 255, 0.25);
$white30: rgba(255, 255, 255, 0.30);
$white50: rgba(255, 255, 255, 0.5);
$gray25: rgba(116, 116, 130, 0.25);
$gray50: rgba(116, 116, 130, 0.5);
$black10: rgba(0, 0, 0, 0.1);
$black25: rgba(0, 0, 0, 0.25);
$black50: rgba(0, 0, 0, 0.5);