@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
    font-url('poppins/poppins-400.woff2') format('woff2'),
    font-url('poppins/poppins-400.woff') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'),
    font-url('muli/muli-400.woff2') format('woff2'),
    font-url('muli/muli-400.woff') format('woff');
}

@font-face {
  font-family: 'Muli';
  font-weight: 600;
  src: local('Muli SemiBold'), local('Muli-SemiBold'),
    font-url('muli/muli-600.woff2') format('woff2'),
    font-url('muli/muli-600.woff') format('woff');
}
