body, .header, .content, .footer {
  color: hsla(0, 0%, 30%, 1);
  font-family: Arial, Helvetica, sans-serif;
  a {
    color: #ff5000;
    &:hover, &:focus {
      color: #b33800;
    }
  }
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  width: 600px;
  margin: 0 auto;
  background: #eff2f5;
  color: #434447;
}

.main {
  margin-top: 50px;
  background: white;
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 8px;
  border: 1px solid #eff2f5;
}

.header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 72px 50px 58px 50px;;
  background-color: transparent;
  background-position: top right;
  background-repeat: no-repeat;

  .brand {
    width: 268px;
    height: 31px;
  }
}

.content {
  background: transparent;
  padding: 10px 50px 34px 50px;

  .attribute {
    display: inline-block;
    margin-right: 5px;
  }
  .email, .name {
    margin-right: 10px
  }
  .email, .phone {
    color: hsla(0, 0%, 60%, 1);
  }
  .notice {
    border-bottom: 1px solid #818589;
    margin: 10px 0;
    padding-bottom: 10px;
  }
  .header-help {
    margin-top: 0;
  }
  .hint {
    color: #818589;
    font-size: 12px;
    font-weight: 300;

    a {
      text-decoration: none;
      color: #818589;
      &:hover, &:focus {
        color: #48494b;
      }
    }
  }
  .strong-line {
    font-weight: bold;
    text-decoration: underline;
  }
  .valign-mid {
    vertical-align: middle;
  }

  .salutation {
    font-weight: 600;
  }

  .center {
    text-align: center;
  }

  .btn-primary {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    padding: 12px 24px 8px;
    border-radius: 30px;
    height: 30px;
    letter-spacing: 0.02em;
    background: #ff3f3f;
    color: #fff;
  }

  .btn-login {
    margin: 30px 0;
  }

  .promo--referral-link-container {
    width: 230px;
    display: initial;
    .promo--referral-link {
      display: table-cell;
      vertical-align: middle;
      width: inherit;
      height: 40px;
      padding-left: 8px;
      background: #edf3f9;
      border: solid;
      border-color: #cddeec;
      border-width: 1px;
      font-size: 16px;
      border-radius: 4px 0px 0px 4px;
    }
  }
  
  .promo--item-label {
    padding-right: 10px;
    font-weight: 600;
    color: #00BCD6; // $bravePromo-LightBlue;

    &-link-name {
      display: block;
    }
  }

  .promo--share-button {
    height: 30px;
    width: 90px;
    float: right;
    margin: 0px 5px 0px 5px;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 25px;

    &-twitter {
      background-color: #1DA1F2; // $bravePromo-TwitterBlue:
      background-position: 15px;
      padding: 12px 0px 0px 25px;
    }

    &-facebook {
      background-color: #3B5998; // $bravePromo-FacebookBlue:
      background-position: 15px;
      padding: 12px 0px 0px 15px;
    }
  }

  #promo--ad-banner {
    color: #00BCD6; // $bravePromo-LightBlue;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #promo--ad-banner-message {
    margin-bottom: 20px;
  }

  #promo-ad-banner-download-site {
    margin-left: 146px;
  }

  #promo-ad-banner-download-youtube {
    margin-left: 160px;
  }

  .promo--ad-banner-container {
    .promo--ad-banner-site {
      margin-right: 15px;
      float: left;
    }

    .promo--ad-banner-youtube {
      float: left;
    }
  }
}

.promo--clear {
  clear: both;
}

.footer {
  padding: 32px 60px;
  background-color: #ff3f3f;
  background-position: top;
  background-repeat: no-repeat;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  .bat {
    float: right;
    height: 52px;
    width: 200px;
    padding-top: 15px;
    background-position: right;
    background-repeat: no-repeat;
    a {
      display: block;
      font-size: 12px;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 6px;
    }
  }
  .social {
    clear: right;
    a {
      display: inline-block;
      margin-top: 20px;
      margin-right: 32px;
    }
  }
}