// Images with -min have been compressed at http://compresspng.com

body, .header, .content, .footer {
  color: hsla(0, 0%, 30%, 1);
  font-family: Arial, Helvetica, sans-serif;
  a {
    color: #ff5000;
    &:hover, &:focus {
      color: #b33800;
    }
  }
}

body {
  width: 600px;
  margin: 0 auto;
  background: #eff2f5;
}

.header {
  margin-top: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 72px 50px 58px 50px;
  background: #ffffff asset-data-url("mailer/header-pattern@1x-min.png") top right no-repeat;

  .brand {
    background: asset-data-url("mailer/branding@1x.png") left no-repeat;
    width: 268px;
    height: 31px;
  }
}

.content {
  background: #ffffff;
  padding: 10px 50px 34px 50px;

  .attribute {
    display: inline-block;
    margin-right: 5px;
  }
  .email, .name {
    margin-right: 10px
  }
  .email, .phone {
    color: hsla(0, 0%, 60%, 1);
  }
  .notice {
    border-bottom: 1px solid hsla(0, 0%, 80%, 1);
    margin: 10px 0;
    padding-bottom: 10px;
  }
  .header-help {
    margin-top: 0;
  }
  .hint {
    color: hsla(0, 0%, 50%, 1);
  }
  .strong-line {
    font-weight: bold;
    text-decoration: underline;
  }
  .valign-mid {
    vertical-align: middle;
  }
}

.footer {
  padding: 32px 60px;
  background: #ff3f3f asset-data-url("mailer/footer-top-pattern@1x-min.png") top no-repeat;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  .bat {
    float: right;
    height: 52px;
    width: 200px;
    padding-top: 15px;
    background: asset-data-url("mailer/logo-BAT@1x.png") right no-repeat;
    a {
      display: block;
      font-size: 12px;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 6px;
    }
  }
  .social {
    clear: right;
    a {
      display: inline-block;
      margin-top: 20px;
      margin-right: 32px;

      &.medium {
        width: 25px;
        height: 20px;
        background: asset-data-url("mailer/logo-medium@1x.png") no-repeat;
      }
      &.twitter {
        width: 25px;
        height: 21px;
        background: asset-data-url("mailer/logo-twitter@1x.png") no-repeat;
      }
      &.reddit {
        width: 28px;
        height: 24px;
        background: asset-data-url("mailer/logo-reddit@1x.png") no-repeat;
      }
      &.rocketchat {
        width: 25px;
        height: 22px;
        background: asset-data-url("mailer/logo-rocketchat@1x.png") no-repeat;
      }
    }
  }
}
