@import 'colors';
body,
.header,
.content,
.footer {
  color: $primaryGrey;
  font-family: Arial, sans-serif;
  a {
    color: $primaryAccent;
    text-decoration: none;
  }
}

body {
  font-size: 16px;
  line-height: 1.8;
  width: 600px;
  margin: 0 auto;
  color: $primaryGrey;
  background-color: $primaryGreyLighten75;
  display: table;
}

p {
  margin: 24px 0;
}

.email {
  padding: 8px 0 24px;
}

.main {
  margin-top: 32px;
  background: white;
  border-radius: 8px;
  border: 1px solid $strokeGrey;
}

.header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 48px 32px;
  .brand {
    margin: 0 auto;
    display: table;
  }
}

.content {
  padding: 0 40px;
  .attribute {
    margin-right: 8px;
  }
  .notice {
    border-top: 1px solid $strokeGrey;
    padding: 24px 0 32px;
    margin: 28px 0 0;
    color: $primaryGreyLighten50;
    font-size: 14px;
    a {
      text-decoration: none;
      color: $primaryAccent;
    }
  }
  .salutation {
    margin: 0;
  }
  .btn-container {
    margin: 0 auto;
    padding: 12px 0;
    .btn-primary {
      color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        border-radius: 30px;
        height: 30px;
        background-color: $primaryAccent;
        padding: 12px 24px;
    }
  }
  .promo--referral-link-container {
    display: table;
    width: 100%;
    padding: 0 0 18px;
    .promo--referral-title {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      padding: 18px 0 12px;
      text-decoration: none;
    }
    .promo--referral-link {
      padding: 16px 0;
      background-color: $primaryGreyLighten75;
      border-radius: 8px;
      width: 100%;
      font-size: 22px;
      text-align: center;
    }
    .promo-share-container {
      margin: 24px auto 0;
      display: table;
      border-spacing: 12px;
      .promo--share-button {
        padding: 12px 32px;
        height: 28px;
        color: white;
        border-radius: 50px;
        display: table-cell;
        &.twitter {
          background-color: $twitterPrimary;
        }
        &.facebook {
          background-color: $facebookPrimary;
        }
      }
    }

  
  }
}

.footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: $primaryAccent;
  padding: 30px 0 24px;
  width: 100%;
  & .social {
    display: table;
    margin: 0 auto;
  }
  & p {
    color: $primaryAccentLighten30;
    font-size: 12px;
    text-align: center;
    max-width: 360px;
    margin: 12px auto;
  }
  & a {
    color: white;
    &.social-icon {
      margin: 0 12px;
      float: left;
    }
  }

  .social-icon img {
    height: 24px;
    width: 24px;
  }
}
