/ Sent as soon as a second publisher verifies a channel, placing it in a contested state
- content_for(:title) do
  h3= t ".title"

.notice= t ".notice"

p= t ".intro"

p= link_to(@transfer_url, @transfer_url)
