/ Sent when user requests a login link via Publishers #create_auth_token
- content_for(:title) do
  h3= t ".subject"

p.salutation= t "publisher_mailer.login_partner_email.salutation", name: @partner.name || name_from_email(@partner.email || @partner.pending_email)

p= t ".body_html"

div.btn-container= link_to(t(".button"), @private_reauth_url, class: "btn-primary btn-login")

.notice= t "shared.support_note_html"
