/ Sent as soon as a publisher fills out the first step.
p= "Hi #{@publisher.name}"
p= t ".intro"
p= t ".body_html"
p= t ".closing_html"
p
  span.attribute= "#{t(".contact_support")}:"
  = mail_to(Rails.application.secrets[:support_email])
