/ Sent when user requests a login link via Publishers #create_auth_token
- content_for(:title) do
  h3= ".subject"

p.salutation= t "publisher_mailer.shared.salutation", name: @publisher.name || name_from_email(@publisher.email)

p= t "publishers.two_factor_authentication_removal.reminder_body_html", remainder: @remainder

.notice= t "publishers.two_factor_authentication_removal.reminder_body_two_html"
