/ Sent as soon as a publisher fills out the first step.
- content_for(:title) do
  h3= t ".title"

p= t ".body"

/ ToDo:
/p
/  strong.attribute= "#{Publisher.human_attribute_name("brave_publisher_id")}:"
/  = link_to_brave_publisher_id(@publisher)

p.hint
  span.attribute= "#{t("publisher_mailer.shared.contact_help")}: "
  = mail_to(Rails.application.secrets[:support_email])
