p Thanks for verifying your channel! We have a small task for you.

p We need you to create a wallet with our partner, Uphold.

p It only take a couple clicks and you’ll be receiving funds from us as soon as it is completed.

p Please visit https://publishers.basicattentiontoken.org/ to create your wallet.

p Got questions? Visit https://basicattentiontoken.org/ to learn more about how the micropayments work.

p We look forward to having you join the thousands of domains already receiving funds from their audience.

p
  | Didn’t sign up for this or feel like this email was sent to you by mistake?
    Feel free to cancel the verification process by Unsubscribing
