p.salutation= t "publisher_mailer.shared.salutation", name: name_from_email(@publisher.pending_email)

p = t ".body_subject", publication_title: @channel.details.publication_title
p = t ".instruction"

p = t ".signature"
