p.salutation= t "publisher_mailer.shared.salutation", name: @publisher.name

== t ".body_html"

div.btn-container= link_to t(".button"), @publisher_log_in_url, class: "btn-primary btn-login"

.notice= t "shared.warning_note_html"