body[data-controller="publishers"]
  @media (min-width: 768px)
    #content.container
      max-width: 420px
      .form-group.button:last-child
        margin: 20px 0 5px

  &[data-action="verification"]
    @media (min-width: 768px)
      #content.container
        max-width: 768px
    textarea[readonly="true"]
      background: #fff
    .dns-record
      .form-control
        font-size: $font-size-base
        height: $font-size-base * 2.7
        &.dns-record-value
          height: $font-size-base * 4
    .verification-file
      .download-file
        margin-left: 10px
      .file-content
        height: $font-size-base * $line-height-base * 5

  &[data-action="home"]
    legend
      margin-bottom: $font-size-base
    .publisher-domain-link
      font-size: $font-size-h3
      margin: 0 0 12px
      text-align: center
    .publisher-verified-status
      font-size: $font-size-base
      text-align: center
