body[data-controller="publishers"]
  @media (min-width: 768px)
    #content.container
      max-width: 420px
      form
        legend
          text-align: center
        .form-group.submit
          margin: 20px 0 5px
