body[data-controller="static"]
  @media (min-width: 768px)
    img.publishers-synopsis
      margin-left: -46px !important
  img.publishers-synopsis
    margin: 10px 0
    max-width: 692px
    width: 100%
