body[data-controller="static"]
  padding-top: $navbar-margin-bottom
  background-color: rgba(145, 157, 190, 0.85)
  color: white
  .centered
    text-align: center
  h3
    margin-top: 5px
  @media (min-width: 768px)
    img.publishers-synopsis
      margin-left: -54px !important
  img.publishers-synopsis
    margin: 5px 0
    max-width: 692px
    width: 100%
  .brave-logo
    background: url(asset-path("brave_logo_horz.svg")) 0 0 / 96px 32px no-repeat
    display: inline-block
    margin-right: 8px
    height: 32px
    width: 32px
