body[data-controller="static"]
  padding-top: $navbar-margin-bottom
  background-color: rgba(darken($bravePurple, 6%), 0.85)
  color: white
  .centered
    text-align: center
  h3
    margin-top: 5px
  @media (min-width: 768px)
    img.publishers-synopsis
      margin-left: -54px !important
  img.publishers-synopsis
    margin: 5px 0
    max-width: 692px
    width: 100%
  .brave-logo
    background: url(asset-path("brave_icon_512x.png")) 0 0 / 128px 128px no-repeat
    display: inline-block
    margin-right: 8px
    height: 128px
    width: 128px
  hr
    border-color: $braveLightOrange
  .form-control
    background: $bravePurple
    color: white
  .control-label
    width: 100%
    color: white
  .btn
    &.btn-primary
      background: linear-gradient(white, #ececec)
      border: 2px solid transparent
      border-bottom: 2px solid #ddd
      border-top: 2px solid #eee
      box-shadow: $buttonShadow
      color: $braveLightOrange

      &:hover
        border: 2px solid #aaa

    &.btn-secondary
      background: $bravePurple
      border: 1px solid white
      color: white

      &:hover
        border: 1px solid #aaa
