doctype html
html
  head data-piwik-host=Rails.application.secrets[:piwik_host]
    title Brave Publishers: Error
    link rel="icon" type="image/png" href=image_path("favicon.ico")
    sass:
      body, html
        margin: 0
        padding: 0
      body
        color: hsla(0, 0%, 30%, 1)
        font-family: "Open Sans", Arial, sans-serif
        font-size: 18px
        line-height: 1.4
        a
          color: #ff5000
          text-decoration: none
          &:hover, &:focus
            color: #b33800
            text-decoration: underline
        nav
          background: #fafafa
          border-color: #e9e9e9
          border-width: 0 0 1px
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
          height: 32px
          margin-bottom: 25px
          padding: 10px 0
          .brave-logo
            display: inline-block
            margin-right: 8px
            height: 32px
          .home-logo
            margin-right: 10px
          .navbar-brand,
          .nav-header
            color: #777
            line-height: 32px
          .navbar-brand
            font-size: 22px
        .container
          margin: auto
          padding: 0 15px
          &:after
            clear: both
        .content
          margin: auto
          width: 600px
        .pull-left
          float: left

  body
    nav
      .container
        .menu-container
          = link_to(root_path, class: "home-logo pull-left") do
            = image_tag("brave_logo_horz.svg", class: "brave-logo pull-left", height: 32)

    .content
      = yield
